node-red-project/flows.json
[
    {
        "id": "94d07e407c25f282",
        "type": "tab",
        "label": "flow-radar-01",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "49e416bfab1d4055",
        "type": "tab",
        "label": "Frigate MQTT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "28627559bebdc324",
        "type": "tab",
        "label": "Event+Speed Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "239d7b3ba410ad5e",
        "type": "tab",
        "label": "Env Vars + System",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "90d5c925f9fbf9fd",
        "type": "tab",
        "label": "Aux data capture",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "04cc3b7b3e019683",
        "type": "group",
        "z": "94d07e407c25f282",
        "name": "@O - TimedSpeedCounts",
        "style": {
            "label": true
        },
        "nodes": [
            "35c0bee67148cfa7",
            "9496fe7a475726de",
            "617c9bb213538929",
            "526eb1967dda78c4"
        ],
        "x": 394,
        "y": 599,
        "w": 852,
        "h": 142
    },
    {
        "id": "1d00b3011a12b204",
        "type": "group",
        "z": "94d07e407c25f282",
        "name": "ON - DetectedObjectVelocity, for single object",
        "style": {
            "label": true
        },
        "nodes": [
            "4681243b9c70e906",
            "b8db51ab64a3d61e",
            "67f64c75edc0ef13"
        ],
        "x": 394,
        "y": 399,
        "w": 452,
        "h": 182
    },
    {
        "id": "8dd778b3e5d3a05c",
        "type": "group",
        "z": "49e416bfab1d4055",
        "name": "listen to MQTT payloads, categorize",
        "style": {
            "label": true
        },
        "nodes": [
            "bcdcd8861df95e07",
            "9f1012eacf4d076f",
            "ed3267eeb15ef14e",
            "6cfe5662fc478c14",
            "98e23f2c38047c05"
        ],
        "x": 14,
        "y": 199,
        "w": 1112,
        "h": 222
    },
    {
        "id": "e7337074cbb5c952",
        "type": "group",
        "z": "49e416bfab1d4055",
        "name": "query InfluxDB for Event+dir median DetectedObjectVelocity",
        "style": {
            "label": true
        },
        "nodes": [
            "6539eff5f28950e2",
            "d541afce049d3481",
            "e63efdd922665136",
            "0f3ff76b20f6fea0",
            "b9ec057a98fc7391",
            "29ba5f8d0c2ef420",
            "629e4b3f709f1e32",
            "be1439498cc44b59",
            "9b02f14fb1d60b89",
            "23df4abbd743c2e1",
            "823f58ae26a49321",
            "adfffd73b8a243b8"
        ],
        "x": 14,
        "y": 459,
        "w": 1312,
        "h": 322
    },
    {
        "id": "9ee8ebd820661432",
        "type": "group",
        "z": "49e416bfab1d4055",
        "name": "create Frigate /api/subLabel request to event for speed",
        "style": {
            "label": true
        },
        "nodes": [
            "031f1f21a0ab203d",
            "669e68daa73311d6",
            "1b0344bd4829de6b",
            "50574c0e9f62cf10"
        ],
        "x": 474,
        "y": 1019,
        "w": 692,
        "h": 142
    },
    {
        "id": "d14033e4e7acdf1b",
        "type": "group",
        "z": "49e416bfab1d4055",
        "name": "write Event+Speed to mongodb",
        "style": {
            "label": true
        },
        "nodes": [
            "400aaccc21e5eaf7",
            "078438fe6e931391",
            "b71b0fcb6d1e558c",
            "466942b727a6409c",
            "d9a2cc1e81161549"
        ],
        "x": 474,
        "y": 819,
        "w": 732,
        "h": 182
    },
    {
        "id": "e138c998bef7d520",
        "type": "group",
        "z": "94d07e407c25f282",
        "name": "OS O3 - payload, raw speed+magnitude",
        "style": {
            "label": true
        },
        "nodes": [
            "d5e5d0f288f9b186",
            "7b220a40adc14e3c",
            "d88af763b70480d0",
            "5f62cb744592b108"
        ],
        "x": 394,
        "y": 759,
        "w": 752,
        "h": 202
    },
    {
        "id": "5930ccb76242c558",
        "type": "group",
        "z": "94d07e407c25f282",
        "name": "OC - payload, object summary+vehicle length",
        "style": {
            "label": true
        },
        "nodes": [
            "5dda1e574a7acdc9",
            "3fc9a8ed49514be5"
        ],
        "x": 394,
        "y": 1199,
        "w": 332,
        "h": 142
    },
    {
        "id": "e5b5b46703e248e9",
        "type": "group",
        "z": "94d07e407c25f282",
        "name": "OS O1 (equivalent) - payload, raw speed+magnitude",
        "style": {
            "label": true
        },
        "nodes": [
            "da47f12a5e2cd512",
            "ef9cb704c91a3ef6",
            "c1c1371cdf7151aa",
            "58e0b10c67841b60"
        ],
        "x": 394,
        "y": 979,
        "w": 792,
        "h": 202
    },
    {
        "id": "0a6e123f5e53c029",
        "type": "group",
        "z": "28627559bebdc324",
        "name": "group mongo summary daily",
        "style": {
            "label": true
        },
        "nodes": [
            "404ac097795a2da0",
            "7d0ef920e3594875",
            "ae662d8b51bdd6b4",
            "2dc07c33aebf63da",
            "c509b1b731f83dec",
            "0d82866f7bfcb4e0",
            "b65e1877b1e04881",
            "5a74033007fa0242"
        ],
        "x": 14,
        "y": 359,
        "w": 852,
        "h": 322
    },
    {
        "id": "5aac1262472b0205",
        "type": "group",
        "z": "28627559bebdc324",
        "name": "group frigate api/events/summary",
        "style": {
            "label": true
        },
        "nodes": [
            "08d030ffc3fe6adb",
            "b241a0ef89fd7ce4",
            "91d3f8965f62f4b0",
            "921bd254e41a46da",
            "eb140f61419c6a08",
            "7d670f6e8d75b305"
        ],
        "x": 14,
        "y": 79,
        "w": 852,
        "h": 262
    },
    {
        "id": "ab5e552a1defabf4",
        "type": "group",
        "z": "239d7b3ba410ad5e",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "b573f57d.6290e8",
            "1330b995.eb0626",
            "cc26e2d4.ffd35",
            "bcad70c7.b9db",
            "2ffeee02.29d762",
            "7ba1f4df.b12a7c",
            "b42b2908.665408",
            "fe2d6e02.ad949",
            "db2479e4.104468",
            "fa23a260.4e161",
            "eb06ed9d.7f23f",
            "58d47e08.81ffc",
            "93b54b1c.311778",
            "a0241251.a9cc4"
        ],
        "x": 14,
        "y": 519,
        "w": 962,
        "h": 242
    },
    {
        "id": "5173f4b3ac03407a",
        "type": "group",
        "z": "28627559bebdc324",
        "name": "show object counts/speeds last 24-hours",
        "style": {
            "label": true
        },
        "nodes": [
            "3985037239b671c5",
            "431a4f7307387f3f",
            "1a74cb68f1228a4f",
            "2958d18a1e112409",
            "b8b25338f2f57f93",
            "2d0c73f2533c64b6",
            "6c6ee2e39d85b9c8",
            "02469f2425072f7b"
        ],
        "x": 14,
        "y": 699,
        "w": 872,
        "h": 322
    },
    {
        "id": "76417db2b472ef4f",
        "type": "group",
        "z": "28627559bebdc324",
        "name": "influxdb TimedSpeedCounts (.counts, .speed_average)",
        "style": {
            "label": true
        },
        "nodes": [
            "15797ab24727f84d",
            "6a422507b2a5bbca",
            "e256c1d68cf20f43",
            "dd294de96fa60d7d",
            "319859b48b6eebad",
            "1b7c2967fd6a85a4",
            "537d771bb5b1eff5",
            "034479ce181640ea",
            "b06c5e9c17af5eb2",
            "b2b5e83db3663f9e",
            "17a8cb6e886afcee",
            "a432e760cc77e6cb",
            "313808f5ac61b7f1",
            "0e1614cf2e5f9942"
        ],
        "x": 14,
        "y": 1039,
        "w": 1232,
        "h": 808
    },
    {
        "id": "9b9e4fc50b744fc3",
        "type": "group",
        "z": "28627559bebdc324",
        "name": "last N events, radar",
        "style": {
            "label": true
        },
        "nodes": [
            "c249329109ac17d5",
            "d66541089b01306e",
            "2e680914d7da5c94",
            "c788d632f5e93a73",
            "e5391514131a2b5a",
            "5ec2d3ba52f944f5",
            "6ccef1eff1e3d1ff",
            "c36c71706e494b5e",
            "82bc0c11adb825f8",
            "736d1e21a49f446b",
            "5b307e65106f3540",
            "4c087723a1d698e9",
            "0f65ceafe3f7c069"
        ],
        "x": 154,
        "y": 2039,
        "w": 1092,
        "h": 402
    },
    {
        "id": "0e1614cf2e5f9942",
        "type": "group",
        "z": "28627559bebdc324",
        "g": "76417db2b472ef4f",
        "name": "show object counts/speeds (5-min) last 60-min in zone_radar",
        "style": {
            "label": true
        },
        "nodes": [
            "be70ebb1a5929433",
            "18fb76b6818efaf9",
            "85ee7cd8058ab069",
            "c4b2be77044989d5",
            "c32af2158d803cad",
            "2027a5a754d1d3c4",
            "11fa2826769befc7"
        ],
        "x": 54,
        "y": 1559,
        "w": 1132,
        "h": 262
    },
    {
        "id": "453513c49e4b1b60",
        "type": "group",
        "z": "28627559bebdc324",
        "name": "mongo cumulative events today by object",
        "style": {
            "label": true
        },
        "nodes": [
            "3dd9503863b58e9c",
            "f9a7298d2f5f1f99",
            "1b63b1e9ba6f39d7",
            "d5cdc59005fe6257",
            "c7a85cdd5791b7b8",
            "4f025c48d1e232d0",
            "6d738ed81fefbedc",
            "d856c68660eb2202"
        ],
        "x": 254,
        "y": 2559,
        "w": 912,
        "h": 322
    },
    {
        "id": "1bd1f21fa0390c69",
        "type": "group",
        "z": "28627559bebdc324",
        "name": "mongo car event speed stats",
        "style": {
            "label": true
        },
        "nodes": [
            "2a8fd7446117b042",
            "2d6a848e9026dcb3",
            "10f32b81aa98c918",
            "cd676ca7fcb572d8",
            "a30ae94b9b4ac1ea",
            "55586312ada4b099",
            "c90aed37b7a31d9e",
            "5417aae0d14fa661"
        ],
        "x": 94,
        "y": 2919,
        "w": 972,
        "h": 322
    },
    {
        "id": "a5d65dd0e3566daa",
        "type": "mqtt-broker",
        "name": "mqtt-broker-frigate",
        "broker": "nodered",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "73598328fc95017b",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "influxdb-node-red",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "d65c36624d553ee7",
        "type": "serial-port",
        "name": "",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "19200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "500"
    },
    {
        "id": "4b8d22be1aa15cf2",
        "type": "mongodb4-client",
        "name": "mongo-local-docker",
        "protocol": "mongodb",
        "hostname": "mongo",
        "port": "27017",
        "dbName": "${VAR_MONGO_DB}",
        "appName": "",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "30000",
        "socketTimeoutMS": "0",
        "minPoolSize": "0",
        "maxPoolSize": "100",
        "maxIdleTimeMS": "0",
        "uri": "mongodb://mongoadmin:mongodbpass@mongo:27017/${VAR_MONGO_DB}?directConnection=true&authSource=admin&appName=mongosh+2.2.0",
        "advanced": "{}",
        "uriTabActive": "tab-uri-simple"
    },
    {
        "id": "d20486757aef47d3",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "YYYY-MM-DD",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b6d86231fb09af0f",
        "type": "ui_tab",
        "name": "System",
        "icon": "developer_dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1f15adecfe5a580a",
        "type": "ui_group",
        "name": "Docker Environment Variables",
        "tab": "b6d86231fb09af0f",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "665d947f9a312a33",
        "type": "ui_tab",
        "name": "Monitoring",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "06dde4be9a9a6b27",
        "type": "ui_group",
        "name": "Events aggregates",
        "tab": "665d947f9a312a33",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3c375fd89b978620",
        "type": "ui_group",
        "name": "System actions",
        "tab": "b6d86231fb09af0f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7866c2aa313ab8b9",
        "type": "ui_group",
        "name": "Live updates",
        "tab": "665d947f9a312a33",
        "order": 2,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e43506628b4a1cdb",
        "type": "comment",
        "z": "94d07e407c25f282",
        "name": "AN-10 API Interface",
        "info": "https://omnipresense.com/wp-content/uploads/2023/11/AN-010-Z_API_Interface.pdf",
        "x": 170,
        "y": 60,
        "wires": []
    },
    {
        "id": "bb2b78040385d37e",
        "type": "json",
        "z": "94d07e407c25f282",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 850,
        "y": 280,
        "wires": [
            [
                "36b68e0861cc5fc4",
                "830348149cb405ae"
            ]
        ]
    },
    {
        "id": "36b68e0861cc5fc4",
        "type": "debug",
        "z": "94d07e407c25f282",
        "name": "debug-radar-all-output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 280,
        "wires": []
    },
    {
        "id": "35c0bee67148cfa7",
        "type": "debug",
        "z": "94d07e407c25f282",
        "g": "04cc3b7b3e019683",
        "name": "debug-write-radar-key-valid-TimedSpeedCounts",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 640,
        "wires": []
    },
    {
        "id": "9496fe7a475726de",
        "type": "function",
        "z": "94d07e407c25f282",
        "g": "04cc3b7b3e019683",
        "name": "format influxdb write TimedSpeedCounts",
        "func": "\nconst newMsg = {};\n\nnewMsg.payload = [\n    {\n        speed_average: Number(msg.payload.TimedSpeedCounts.average),\n        count: Number(msg.payload.TimedSpeedCounts.count),\n        time: (msg.payload.TimedSpeedCounts.time*1000)\n    },\n    {\n        location: env.get(\"VAR_LOCATION\"),\n        direction: String(msg.payload.TimedSpeedCounts.direction),\n        speed_units: msg.payload.TimedSpeedCounts.units\n    }\n];\nreturn newMsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 640,
        "wires": [
            [
                "617c9bb213538929",
                "35c0bee67148cfa7"
            ]
        ]
    },
    {
        "id": "a9d702a51bc8f0c9",
        "type": "comment",
        "z": "94d07e407c25f282",
        "name": "variables to pass",
        "info": "Via Docker Environment \n- `device_ip` of Pi (for influxDB server)  --- env.get(\"VAR_DEVICE_IP\")\n- `location` string (for influxDB `location` tag)  --- env.get(\"VAR_LOCATION\")\n- `radar_camera` name of camera (for attaching speeds to events) - needs to match Frigate config  --- env.get(\"VAR_RADAR_CAMERA\")  \n- `influxdb_database`   --- env.get(\"VAR_INFLUXDB_BUCKET\")\n\n",
        "x": 360,
        "y": 60,
        "wires": []
    },
    {
        "id": "526eb1967dda78c4",
        "type": "comment",
        "z": "94d07e407c25f282",
        "g": "04cc3b7b3e019683",
        "name": "TimedSpeedCounts are @O and @|300 (5-min)",
        "info": "",
        "x": 1020,
        "y": 700,
        "wires": []
    },
    {
        "id": "4681243b9c70e906",
        "type": "function",
        "z": "94d07e407c25f282",
        "g": "1d00b3011a12b204",
        "name": "format influxdb write DetectedObjectVelocity",
        "func": "\nconst newMsg = {};\n\nnewMsg.payload = [\n    {\n        velocity: Number(msg.payload.DetectedObjectVelocity),\n        time: (msg.payload.time*1000)\n    },\n    {\n        location: env.get(\"VAR_LOCATION\"),\n        direction: String(msg.payload.direction),\n        velocity_units: msg.payload.unit\n    }\n];\nreturn newMsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 480,
        "wires": [
            [
                "b8db51ab64a3d61e"
            ]
        ]
    },
    {
        "id": "affe7cfb9861e62d",
        "type": "serial in",
        "z": "94d07e407c25f282",
        "name": "receive OPS243 serial (USB - /dev/ttyACM0)",
        "serial": "d65c36624d553ee7",
        "x": 730,
        "y": 220,
        "wires": [
            [
                "bb2b78040385d37e"
            ]
        ]
    },
    {
        "id": "8e8ede8ca221552b",
        "type": "serial out",
        "z": "94d07e407c25f282",
        "name": "send to OPS243 serial (USB)",
        "serial": "d65c36624d553ee7",
        "x": 680,
        "y": 120,
        "wires": []
    },
    {
        "id": "617c9bb213538929",
        "type": "influxdb out",
        "z": "94d07e407c25f282",
        "g": "04cc3b7b3e019683",
        "influxdb": "73598328fc95017b",
        "name": "write influxdb TimedSpeedCounts",
        "measurement": "TimedSpeedCounts",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "taffic_monitor_01",
        "bucket": "${VAR_INFLUXDB_BUCKET}",
        "x": 660,
        "y": 700,
        "wires": []
    },
    {
        "id": "b8db51ab64a3d61e",
        "type": "influxdb out",
        "z": "94d07e407c25f282",
        "g": "1d00b3011a12b204",
        "influxdb": "73598328fc95017b",
        "name": "write influxdb DetectedObjectVelocity",
        "measurement": "DetectedObjectVelocity",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "taffic_monitor_01",
        "bucket": "${VAR_INFLUXDB_BUCKET}",
        "x": 670,
        "y": 540,
        "wires": []
    },
    {
        "id": "67f64c75edc0ef13",
        "type": "debug",
        "z": "94d07e407c25f282",
        "g": "1d00b3011a12b204",
        "name": "debug-radar-write-DetectObjectVelocity",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 440,
        "wires": []
    },
    {
        "id": "5ba75f5c9e2a85da",
        "type": "catch",
        "z": "94d07e407c25f282",
        "name": "catch - flow-radar",
        "scope": null,
        "uncaught": false,
        "x": 640,
        "y": 60,
        "wires": [
            [
                "84f8c1cca4483e4c"
            ]
        ]
    },
    {
        "id": "84f8c1cca4483e4c",
        "type": "debug",
        "z": "94d07e407c25f282",
        "name": "catch - flow-radar",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 60,
        "wires": []
    },
    {
        "id": "114c038c504f9f87",
        "type": "inject",
        "z": "94d07e407c25f282",
        "name": "query all settings, after 0.5",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "\"?P\" & \"?N\" & \"?V\" & \"?B\" & \"??\" & \"O?\" & \"?F\" & \"?s\"",
        "payloadType": "jsonata",
        "x": 200,
        "y": 320,
        "wires": [
            [
                "8e8ede8ca221552b"
            ]
        ]
    },
    {
        "id": "d30801432e1972b3",
        "type": "inject",
        "z": "94d07e407c25f282",
        "name": "init: set radar time (in seconds), after 0.2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": "0.2",
        "topic": "",
        "payload": "\"C=\" & $ceil($millis()/1000) & \"\\n\"",
        "payloadType": "jsonata",
        "x": 240,
        "y": 200,
        "wires": [
            [
                "8e8ede8ca221552b"
            ]
        ]
    },
    {
        "id": "93dfd24a4e45dbb9",
        "type": "inject",
        "z": "94d07e407c25f282",
        "name": "init: set radar timezone, after 0.3",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.3",
        "topic": "",
        "payload": "\"CZ\" & \"PST-7\" & \"\\n\"",
        "payloadType": "jsonata",
        "x": 210,
        "y": 240,
        "wires": [
            [
                "8e8ede8ca221552b"
            ]
        ]
    },
    {
        "id": "b965ece6f3bd3377",
        "type": "inject",
        "z": "94d07e407c25f282",
        "name": "init: base settings and filters, after 0.1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "\"OJUSF2S2K+IGONO3OUOTOhOC\" & \"OMM>20\\n\" & \"OSR>5\\n\" & \"@O@|300\\n\" & \"A!\" ",
        "payloadType": "jsonata",
        "x": 230,
        "y": 160,
        "wires": [
            [
                "8e8ede8ca221552b"
            ]
        ]
    },
    {
        "id": "73c028a0006c9cd9",
        "type": "inject",
        "z": "94d07e407c25f282",
        "name": "init: PI, idle power mode for settings",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "\"PI\"",
        "payloadType": "jsonata",
        "x": 220,
        "y": 120,
        "wires": [
            [
                "8e8ede8ca221552b"
            ]
        ]
    },
    {
        "id": "efddf78e690358fc",
        "type": "inject",
        "z": "94d07e407c25f282",
        "name": "init: PA, active power mode after settings, after 1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "\"PA\"",
        "payloadType": "jsonata",
        "x": 260,
        "y": 360,
        "wires": [
            [
                "8e8ede8ca221552b"
            ]
        ]
    },
    {
        "id": "78f9e09b02db0b2c",
        "type": "inject",
        "z": "94d07e407c25f282",
        "name": "init: save settings",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.4",
        "topic": "",
        "payload": "\"A!\"",
        "payloadType": "jsonata",
        "x": 170,
        "y": 280,
        "wires": [
            [
                "8e8ede8ca221552b"
            ]
        ]
    },
    {
        "id": "830348149cb405ae",
        "type": "switch",
        "z": "94d07e407c25f282",
        "name": "radar payload key type",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "DetectedObjectVelocity",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "TimedSpeedCounts",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "speed",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "delta_time_msec",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 180,
        "y": 520,
        "wires": [
            [
                "4681243b9c70e906",
                "67f64c75edc0ef13"
            ],
            [
                "9496fe7a475726de"
            ],
            [
                "7b220a40adc14e3c",
                "ef9cb704c91a3ef6"
            ],
            [
                "5dda1e574a7acdc9",
                "3fc9a8ed49514be5"
            ]
        ]
    },
    {
        "id": "d5e5d0f288f9b186",
        "type": "influxdb out",
        "z": "94d07e407c25f282",
        "g": "e138c998bef7d520",
        "influxdb": "73598328fc95017b",
        "name": "write influxdb RawSpeedMagnitude",
        "measurement": "RawSpeedMagnitude",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "taffic_monitor_01",
        "bucket": "${VAR_INFLUXDB_BUCKET}",
        "x": 660,
        "y": 860,
        "wires": []
    },
    {
        "id": "7b220a40adc14e3c",
        "type": "function",
        "z": "94d07e407c25f282",
        "g": "e138c998bef7d520",
        "name": "format influxdb write raw speed, magnitude",
        "func": "var thisDirection = msg.payload.speed > 0 ? \"inbound\" : \"outbound\";\n\nconst newMsg = {};\n\nnewMsg.payload = [\n    {  //first object holds _field (speed_unit:value, magnitude:value)\n        speed: String(msg.payload.speed),\n        magnitude: String(msg.payload.magnitude),\n        time: (msg.payload.time*1000)\n    },\n    { //second object holds tags\n        location: env.get(\"VAR_LOCATION\"),\n        direction: thisDirection,\n        speed_units: msg.payload.unit\n    }\n];\nreturn newMsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 800,
        "wires": [
            [
                "d5e5d0f288f9b186",
                "d88af763b70480d0"
            ]
        ]
    },
    {
        "id": "d88af763b70480d0",
        "type": "debug",
        "z": "94d07e407c25f282",
        "g": "e138c998bef7d520",
        "name": "debug-radar-raws-speeds-write",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 800,
        "wires": []
    },
    {
        "id": "5f62cb744592b108",
        "type": "comment",
        "z": "94d07e407c25f282",
        "g": "e138c998bef7d520",
        "name": "handle O3 speeds by saving array to each _value",
        "info": "",
        "x": 600,
        "y": 920,
        "wires": []
    },
    {
        "id": "5dda1e574a7acdc9",
        "type": "mongodb4",
        "z": "94d07e407c25f282",
        "g": "5930ccb76242c558",
        "clientNode": "4b8d22be1aa15cf2",
        "mode": "collection",
        "collection": "radar_oc_payloads",
        "operation": "insertOne",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "mongo insertOne radar_oc_payload",
        "x": 560,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "3fc9a8ed49514be5",
        "type": "debug",
        "z": "94d07e407c25f282",
        "g": "5930ccb76242c558",
        "name": "mongo radar_oc_payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 1300,
        "wires": []
    },
    {
        "id": "da47f12a5e2cd512",
        "type": "influxdb out",
        "z": "94d07e407c25f282",
        "g": "e5b5b46703e248e9",
        "influxdb": "73598328fc95017b",
        "name": "write influxdb RawSpeedMagnitude_single",
        "measurement": "RawSpeedMagnitude_single",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "taffic_monitor_01",
        "bucket": "${VAR_INFLUXDB_BUCKET}",
        "x": 690,
        "y": 1080,
        "wires": []
    },
    {
        "id": "ef9cb704c91a3ef6",
        "type": "function",
        "z": "94d07e407c25f282",
        "g": "e5b5b46703e248e9",
        "name": "format influxdb write raw speed, magnitude single",
        "func": "var thisDirection = msg.payload.speed > 0 ? \"inbound\" : \"outbound\";\n\nconst newMsg = {};\n\nnewMsg.payload = [\n    {  //first object holds _field (speed_unit:value, magnitude:value)\n        speed: String(msg.payload.speed[0]),\n        magnitude: String(msg.payload.magnitude[0]),\n        time: (msg.payload.time*1000)\n    },\n    { //second object holds tags\n        location: env.get(\"VAR_LOCATION\"),\n        direction: thisDirection,\n        speed_units: msg.payload.unit\n    }\n];\nreturn newMsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 1020,
        "wires": [
            [
                "da47f12a5e2cd512",
                "c1c1371cdf7151aa"
            ]
        ]
    },
    {
        "id": "c1c1371cdf7151aa",
        "type": "debug",
        "z": "94d07e407c25f282",
        "g": "e5b5b46703e248e9",
        "name": "debug-radar-raws-speeds-write_single",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 1020,
        "wires": []
    },
    {
        "id": "58e0b10c67841b60",
        "type": "comment",
        "z": "94d07e407c25f282",
        "g": "e5b5b46703e248e9",
        "name": "manually take top 1 speed, magnitude (effectively O1)",
        "info": "",
        "x": 620,
        "y": 1140,
        "wires": []
    },
    {
        "id": "6c2d22f0a8cb1fc1",
        "type": "debug",
        "z": "49e416bfab1d4055",
        "name": "debug: Broker status events",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 40,
        "wires": []
    },
    {
        "id": "fd148029fe6bee47",
        "type": "debug",
        "z": "49e416bfab1d4055",
        "name": "debug: broker publish events",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 80,
        "wires": []
    },
    {
        "id": "038275ccb8bafbb0",
        "type": "mqtt in",
        "z": "49e416bfab1d4055",
        "name": "",
        "topic": "frigate/events",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a5d65dd0e3566daa",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 140,
        "wires": [
            [
                "4a1c5b87abde2112",
                "bcdcd8861df95e07"
            ]
        ]
    },
    {
        "id": "4a1c5b87abde2112",
        "type": "debug",
        "z": "49e416bfab1d4055",
        "name": "debug: published frigate messages",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 140,
        "wires": []
    },
    {
        "id": "1720d60a87cfb2d7",
        "type": "aedes broker",
        "z": "49e416bfab1d4055",
        "name": "frigate-local",
        "mqtt_port": "1883",
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "persistence_bind": "memory",
        "dburl": "",
        "usetls": false,
        "x": 90,
        "y": 60,
        "wires": [
            [
                "6c2d22f0a8cb1fc1"
            ],
            [
                "fd148029fe6bee47"
            ]
        ]
    },
    {
        "id": "bcdcd8861df95e07",
        "type": "switch",
        "z": "49e416bfab1d4055",
        "g": "8dd778b3e5d3a05c",
        "name": "payload.type == \"end\"",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "end",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 140,
        "y": 240,
        "wires": [
            [
                "ed3267eeb15ef14e"
            ]
        ]
    },
    {
        "id": "6cfe5662fc478c14",
        "type": "function",
        "z": "49e416bfab1d4055",
        "g": "8dd778b3e5d3a05c",
        "name": "calculate direction based on frigate event zones",
        "func": "var $myZoneNearIndex = msg.payload.after.entered_zones.indexOf(\"zone_near\");\nvar $myZoneFarIndex = msg.payload.after.entered_zones.indexOf(\"zone_far\");\n\nvar $myDirection = ($myZoneNearIndex >= 0 && $myZoneNearIndex >= 0) ? ($myZoneFarIndex < $myZoneNearIndex ? \"inbound\" : \"outbound\") : undefined;\n\nmsg.payload.after.nr_direction = $myDirection;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 380,
        "wires": [
            [
                "9f1012eacf4d076f",
                "0f3ff76b20f6fea0",
                "629e4b3f709f1e32",
                "9b02f14fb1d60b89"
            ]
        ]
    },
    {
        "id": "9f1012eacf4d076f",
        "type": "debug",
        "z": "49e416bfab1d4055",
        "g": "8dd778b3e5d3a05c",
        "name": "debug: calc direction",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 380,
        "wires": []
    },
    {
        "id": "6539eff5f28950e2",
        "type": "function",
        "z": "49e416bfab1d4055",
        "g": "e7337074cbb5c952",
        "name": "create influxdb query, return DetectedObjectVelocity median",
        "func": "var query = \"\";\n\nquery += \"from(bucket: \\\"\" + env.get(\"VAR_INFLUXDB_BUCKET\") +\"\\\")\\n\";\nquery += \"    |> range(start: \" + (Math.floor(msg.payload.after.start_time)-2) +\", stop: \" + (Math.ceil(msg.payload.after.end_time)+2) + \")\\n\";\nquery += \"    |> filter(fn: (r) => r[\\\"_measurement\\\"] == \\\"DetectedObjectVelocity\\\")\\n\";\nquery += \"    |> filter(fn: (r) => r[\\\"_field\\\"] == \\\"velocity\\\")\\n\";\nquery += \"    |> filter(fn: (r) => r[\\\"location\\\"] == \\\"\" + env.get(\"VAR_LOCATION\") + \"\\\")\\n\";\nquery += \"    |> median(column: \\\"_value\\\")\\n\"; \n\nmsg.query = query;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 600,
        "wires": [
            [
                "d541afce049d3481"
            ]
        ]
    },
    {
        "id": "d541afce049d3481",
        "type": "influxdb in",
        "z": "49e416bfab1d4055",
        "g": "e7337074cbb5c952",
        "influxdb": "73598328fc95017b",
        "name": "query, DetectedObjectVelocity, median",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "taffic_monitor_01",
        "x": 430,
        "y": 660,
        "wires": [
            [
                "29ba5f8d0c2ef420"
            ]
        ]
    },
    {
        "id": "031f1f21a0ab203d",
        "type": "http request",
        "z": "49e416bfab1d4055",
        "d": true,
        "g": "9ee8ebd820661432",
        "name": "add subLabel to event",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://{{{frigate_ip}}}:5000/api/events/{{{event_id}}}/sub_label",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 660,
        "y": 1120,
        "wires": [
            [
                "50574c0e9f62cf10"
            ]
        ]
    },
    {
        "id": "0f3ff76b20f6fea0",
        "type": "join",
        "z": "49e416bfab1d4055",
        "g": "e7337074cbb5c952",
        "name": "join Event+Radar",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1130,
        "y": 580,
        "wires": [
            [
                "e63efdd922665136"
            ]
        ],
        "info": "# Sample Output:\n\n```\n{\n    \"topic\": \"query_return\",\n    \"payload\": {\n        \"event_end_car_bike\": {\n            \"before\": {\n                \"id\": \"1712153303.328575-u22ucl\",\n                \"camera\": \"picam_h264\",\n                \"frame_time\": 1712153456.913404,\n                \"snapshot\": {\n                    \"frame_time\": 1712153453.713148,\n                    \"box\": [\n                        842,\n                        253,\n                        2131,\n                        897\n                    ],\n                    \"area\": 830116,\n                    \"region\": [\n                        592,\n                        0,\n                        2304,\n                        1712\n                    ],\n                    \"score\": 0.8046875,\n                    \"attributes\": []\n                },\n                \"label\": \"car\",\n                \"sub_label\": null,\n                \"top_score\": 0.80859375,\n                \"false_positive\": false,\n                \"start_time\": 1712153303.328575,\n                \"end_time\": null,\n                \"score\": 0.796875,\n                \"box\": [\n                    365,\n                    197,\n                    1008,\n                    533\n                ],\n                \"area\": 216048,\n                \"ratio\": 1.9136904761904763,\n                \"region\": [\n                    301,\n                    0,\n                    1057,\n                    756\n                ],\n                \"stationary\": false,\n                \"motionless_count\": 2,\n                \"position_changes\": 2,\n                \"current_zones\": [],\n                \"entered_zones\": [\n                    \"zone_near\",\n                    \"zone_far\"\n                ],\n                \"has_clip\": true,\n                \"has_snapshot\": true,\n                \"attributes\": {},\n                \"current_attributes\": []\n            },\n            \"after\": {\n                \"id\": \"1712153303.328575-u22ucl\",\n                \"camera\": \"picam_h264\",\n                \"frame_time\": 1712153469.448711,\n                \"snapshot\": {\n                    \"frame_time\": 1712153453.713148,\n                    \"box\": [\n                        842,\n                        253,\n                        2131,\n                        897\n                    ],\n                    \"area\": 830116,\n                    \"region\": [\n                        592,\n                        0,\n                        2304,\n                        1712\n                    ],\n                    \"score\": 0.8046875,\n                    \"attributes\": []\n                },\n                \"label\": \"car\",\n                \"sub_label\": null,\n                \"top_score\": 0.80859375,\n                \"false_positive\": false,\n                \"start_time\": 1712153303.328575,\n                \"end_time\": 1712153474.711017,\n                \"score\": 0.6171875,\n                \"box\": [\n                    0,\n                    341,\n                    70,\n                    441\n                ],\n                \"area\": 7000,\n                \"ratio\": 0.7,\n                \"region\": [\n                    0,\n                    188,\n                    428,\n                    616\n                ],\n                \"stationary\": false,\n                \"motionless_count\": 0,\n                \"position_changes\": 2,\n                \"current_zones\": [],\n                \"entered_zones\": [\n                    \"zone_near\",\n                    \"zone_far\"\n                ],\n                \"has_clip\": true,\n                \"has_snapshot\": true,\n                \"attributes\": {},\n                \"current_attributes\": [],\n                \"nr_direction\": \"outbound\"\n            },\n            \"type\": \"end\"\n        },\n        \"query_return\": [\n            {\n                \"result\": \"_result\",\n                \"table\": 0,\n                \"_start\": \"2024-04-03T14:08:21Z\",\n                \"_stop\": \"2024-04-03T14:11:17Z\",\n                \"_field\": \"velocity\",\n                \"_measurement\": \"DetectedObjectVelocity\",\n                \"direction\": \"outbound\",\n                \"location\": \"ne26th-wasco-sb-01\",\n                \"units\": \"mph\",\n                \"_value\": -8\n            }\n        ]\n    },\n    \"qos\": 0,\n    \"retain\": false,\n    \"_msgid\": \"19500feb8926f41d\",\n    \"query\": \"from(bucket: \\\"tm-05\\\")\\n    |> range(start: 1712153301, stop: 1712153477)\\n    |> filter(fn: (r) => r[\\\"_measurement\\\"] == \\\"DetectedObjectVelocity\\\")\\n    |> filter(fn: (r) => r[\\\"_field\\\"] == \\\"velocity\\\")\\n    |> filter(fn: (r) => r[\\\"direction\\\"] == \\\"outbound\\\")\\n    |> filter(fn: (r) => r[\\\"location\\\"] == \\\"ne26th-wasco-sb-01\\\")\\n    |> filter(fn: (r) => r[\\\"units\\\"] == \\\"mph\\\")\\n    |> median(column: \\\"_value\\\")\\n\"\n}\n```"
    },
    {
        "id": "e63efdd922665136",
        "type": "function",
        "z": "49e416bfab1d4055",
        "g": "e7337074cbb5c952",
        "name": "match Event+Radar direction",
        "func": "//if only 1 Radar.direction USE THAT\nif (msg.payload.query_return_median.length == 1) {\n    //  check if Event.nr_direction MATCHES Radar.direction THEN good\n    if (msg.payload.frigate_event.after.nr_direction == msg.payload.query_return_median[0].direction) {\n        msg.dir_speed_status = \"direction_speed_match\";\n        msg.direction_match = msg.payload.frigate_event.after.nr_direction;\n        msg.speed_match = msg.payload.query_return_median[0]._value;\n    }\n    //  if Event.nr_direction == undefined THEN use 1 that came through radar \n    else if (msg.payload.frigate_event.after.nr_direction == undefined) {\n        msg.dir_speed_status = \"direction_speed_match\";\n        msg.direction_match = msg.payload.query_return_median[0].direction;\n        msg.speed_match = msg.payload.query_return_median[0]._value;\n    }\n}\n//  multiple radar directions, but if Event.nr_direction MATCHES Radar.direction THEN good\nelse if ((msg.payload.query_return_median.length > 1)\n    && (msg.payload.frigate_event.after.nr_direction != undefined)) {\n\n    //find matching median value to frigate_event\n    var dirIndex = msg.payload.query_return_median.map((o) => o.direction).indexOf(msg.payload.frigate_event.after.nr_direction);\n    if (dirIndex >= 0) {\n        msg.dir_speed_status = \"direction_speed_match\";\n        msg.direction_match = msg.payload.query_return_median[dirIndex].direction;\n        msg.speed_match = msg.payload.query_return_median[dirIndex]._value;\n    }\n    else {\n        msg.dir_speed_status = \"direction_speed_no_match\";\n        msg.direction_match = undefined;\n        msg.speed_match = undefined;\n    }\n}\n//      if == 0 Radar.direction DO NOT REPORT\nelse {\n        msg.dir_speed_status = \"direction_speed_no_match\"; \n        msg.direction_match = undefined;\n        msg.speed_match = undefined;\n    }\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 640,
        "wires": [
            [
                "b9ec057a98fc7391",
                "b71b0fcb6d1e558c"
            ]
        ]
    },
    {
        "id": "669e68daa73311d6",
        "type": "function",
        "z": "49e416bfab1d4055",
        "d": true,
        "g": "9ee8ebd820661432",
        "name": "create subLabel message",
        "func": "var newMsg = {};\n\nnewMsg.event_id = msg.payload.frigate_event.after.id;\nnewMsg.frigate_ip = env.get(\"VAR_DEVICE_IP\");\n\nnewMsg.payload = {\n    \"subLabel\": String(\"speed_\" + msg.direction_match), \n    \"subLabelScore\": (Math.abs(msg.speed_match)/1000)\n    };\n\nreturn newMsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 1060,
        "wires": [
            [
                "1b0344bd4829de6b",
                "031f1f21a0ab203d"
            ]
        ]
    },
    {
        "id": "1b0344bd4829de6b",
        "type": "debug",
        "z": "49e416bfab1d4055",
        "d": true,
        "g": "9ee8ebd820661432",
        "name": "subLabel complete message to send",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 1060,
        "wires": []
    },
    {
        "id": "50574c0e9f62cf10",
        "type": "debug",
        "z": "49e416bfab1d4055",
        "d": true,
        "g": "9ee8ebd820661432",
        "name": "frigate return, event speed sub_label",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 1120,
        "wires": []
    },
    {
        "id": "400aaccc21e5eaf7",
        "type": "mongodb4",
        "z": "49e416bfab1d4055",
        "g": "d14033e4e7acdf1b",
        "clientNode": "4b8d22be1aa15cf2",
        "mode": "collection",
        "collection": "events",
        "operation": "insertOne",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "mongo insertOne events",
        "x": 750,
        "y": 960,
        "wires": [
            [
                "078438fe6e931391"
            ]
        ]
    },
    {
        "id": "078438fe6e931391",
        "type": "debug",
        "z": "49e416bfab1d4055",
        "g": "d14033e4e7acdf1b",
        "name": "mongo return",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 960,
        "wires": []
    },
    {
        "id": "b71b0fcb6d1e558c",
        "type": "function",
        "z": "49e416bfab1d4055",
        "g": "d14033e4e7acdf1b",
        "name": "create mongo message",
        "func": "const newMsg = {};\nnewMsg.payload = {}; // contain everything going into a DB record, single record\nnewMsg.payload = {}; // single collection of strings\n//newMsg.payload.radar = {}; // contain all desired radar readings\n//Don't attach radar data here... Just conflates the reporting DB\n\n// Frigate Event info\nnewMsg.payload.id = msg.payload.frigate_event.after.id;\nnewMsg.payload.camera = msg.payload.frigate_event.after.camera;\nnewMsg.payload.label = msg.payload.frigate_event.after.label;\nnewMsg.payload.sub_label = msg.payload.frigate_event.after.sub_label;\nnewMsg.payload.top_score = msg.payload.frigate_event.after.top_score;\n\n//for Timestamp, Mongo prefers MILLISECONDS (frigate event and radar uses seconds)\nnewMsg.payload.frame_time = msg.payload.frigate_event.after.frame_time;\nnewMsg.payload.start_time = msg.payload.frigate_event.after.start_time;\nnewMsg.payload.end_time = msg.payload.frigate_event.after.end_time;\n\nnewMsg.payload.entered_zones = msg.payload.frigate_event.after.entered_zones; //array\nnewMsg.payload.direction_calc = msg.direction_match;\nnewMsg.payload.speed_calc = msg.speed_match;\nnewMsg.payload.thumbnail_base64jpg = msg.payload.event_api.thumbnail;\n\n// Attached Radar info\n\n//newMsg.payload.radar.query_return_median = msg.payload.query_return_median[0];\n\n//newMsg.payload.radar.query_return_nonagg = msg.payload.query_return_nonagg;\n\nreturn newMsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 900,
        "wires": [
            [
                "466942b727a6409c",
                "400aaccc21e5eaf7",
                "d9a2cc1e81161549"
            ]
        ],
        "info": "//to do each array item\n\nfor (const i in msg.payload.query_return_nonagg) {\n    newMsg.payload.radar.push({\n        type: \"DetectedObjectVelocity_nonagg_nodir\",\n        result: msg.payload.query_return_nonagg[i]\n    }\n    );\n}"
    },
    {
        "id": "466942b727a6409c",
        "type": "debug",
        "z": "49e416bfab1d4055",
        "g": "d14033e4e7acdf1b",
        "name": "composed mongo message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 900,
        "wires": []
    },
    {
        "id": "b9ec057a98fc7391",
        "type": "debug",
        "z": "49e416bfab1d4055",
        "g": "e7337074cbb5c952",
        "name": "event+radar w direction calcs",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 700,
        "wires": []
    },
    {
        "id": "29ba5f8d0c2ef420",
        "type": "function",
        "z": "49e416bfab1d4055",
        "g": "e7337074cbb5c952",
        "name": "add topic, `query_return_median`",
        "func": "msg.topic = \"query_return_median\"\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 740,
        "wires": [
            [
                "23df4abbd743c2e1"
            ]
        ]
    },
    {
        "id": "629e4b3f709f1e32",
        "type": "http request",
        "z": "49e416bfab1d4055",
        "g": "e7337074cbb5c952",
        "name": "frigate http /api/events/id",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://frigate:5000/api/events/{{{payload.after.id}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 730,
        "y": 500,
        "wires": [
            [
                "be1439498cc44b59"
            ]
        ]
    },
    {
        "id": "be1439498cc44b59",
        "type": "function",
        "z": "49e416bfab1d4055",
        "g": "e7337074cbb5c952",
        "name": "add topic, `event_api`",
        "func": "msg.topic = \"event_api\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 500,
        "wires": [
            [
                "0f3ff76b20f6fea0"
            ]
        ]
    },
    {
        "id": "7c030508e545444c",
        "type": "catch",
        "z": "49e416bfab1d4055",
        "name": "catch - flow-mqtt",
        "scope": null,
        "uncaught": false,
        "x": 680,
        "y": 40,
        "wires": [
            [
                "ace98a4209f56f19"
            ]
        ]
    },
    {
        "id": "ace98a4209f56f19",
        "type": "debug",
        "z": "49e416bfab1d4055",
        "name": "catch - flow-mqtt",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 40,
        "wires": []
    },
    {
        "id": "ed3267eeb15ef14e",
        "type": "function",
        "z": "49e416bfab1d4055",
        "g": "8dd778b3e5d3a05c",
        "name": "add topic = 'frigate_event'",
        "func": "msg.topic = \"frigate_event\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 280,
        "wires": [
            [
                "98e23f2c38047c05"
            ]
        ]
    },
    {
        "id": "9b02f14fb1d60b89",
        "type": "switch",
        "z": "49e416bfab1d4055",
        "g": "e7337074cbb5c952",
        "name": "redirect based on label (car, bicycle, motorcycle)",
        "property": "payload.after.label",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "car",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "bicycle",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "motorcycle",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 220,
        "y": 520,
        "wires": [
            [
                "6539eff5f28950e2"
            ],
            [
                "6539eff5f28950e2"
            ],
            [
                "6539eff5f28950e2"
            ],
            [
                "23df4abbd743c2e1"
            ]
        ]
    },
    {
        "id": "98e23f2c38047c05",
        "type": "delay",
        "z": "49e416bfab1d4055",
        "g": "8dd778b3e5d3a05c",
        "name": "delay 1 sec, to be sure InfluxDB writes",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 230,
        "y": 340,
        "wires": [
            [
                "6cfe5662fc478c14"
            ]
        ]
    },
    {
        "id": "23df4abbd743c2e1",
        "type": "function",
        "z": "49e416bfab1d4055",
        "g": "e7337074cbb5c952",
        "name": "pass query otherwise empty set",
        "func": "var newMsg = {};\nif (msg.topic == \"query_return_median\") {return msg} \nelse {\n    newMsg.topic = \"query_return_median\";\n    newMsg.payload = {};\n    newMsg.payload.query_return_median = [];\n    return newMsg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 540,
        "wires": [
            [
                "0f3ff76b20f6fea0"
            ]
        ]
    },
    {
        "id": "823f58ae26a49321",
        "type": "comment",
        "z": "49e416bfab1d4055",
        "g": "e7337074cbb5c952",
        "name": "add Event Zone for \"radar zone\" ",
        "info": "",
        "x": 750,
        "y": 580,
        "wires": []
    },
    {
        "id": "d9a2cc1e81161549",
        "type": "link out",
        "z": "49e416bfab1d4055",
        "g": "d14033e4e7acdf1b",
        "name": "to dashboard",
        "mode": "link",
        "links": [
            "c249329109ac17d5"
        ],
        "x": 775,
        "y": 860,
        "wires": []
    },
    {
        "id": "adfffd73b8a243b8",
        "type": "comment",
        "z": "49e416bfab1d4055",
        "g": "e7337074cbb5c952",
        "name": "FYI: InfluxDB return overrides msg.payload",
        "info": "",
        "x": 480,
        "y": 700,
        "wires": []
    },
    {
        "id": "3985037239b671c5",
        "type": "inject",
        "z": "28627559bebdc324",
        "g": "5173f4b3ac03407a",
        "name": "trigger Event query every 60-min",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "query",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 740,
        "wires": [
            [
                "1a74cb68f1228a4f"
            ]
        ]
    },
    {
        "id": "431a4f7307387f3f",
        "type": "mongodb4",
        "z": "28627559bebdc324",
        "g": "5173f4b3ac03407a",
        "clientNode": "4b8d22be1aa15cf2",
        "mode": "collection",
        "collection": "events",
        "operation": "aggregate",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "mongo query Events, count 1-hour",
        "x": 300,
        "y": 860,
        "wires": [
            [
                "2958d18a1e112409",
                "b8b25338f2f57f93"
            ]
        ]
    },
    {
        "id": "1a74cb68f1228a4f",
        "type": "function",
        "z": "28627559bebdc324",
        "g": "5173f4b3ac03407a",
        "name": "create payload, 1-hour counts",
        "func": "//for Timestamp, Mongo prefers MILLISECONDS (frigate event and radar uses seconds)\n\n//Get hourly label counts for last 24-hours for radar_cam\n\nvar newMsg = {};\nconst query = [\n    {\n        $match: {\n            frame_time: {\n                $gte: Math.floor((Date.now() - 86400000 * 1) / 1000) //change to seconds, 1 days ago, e.g. 1713638656\n            },\n            camera: env.get(\"VAR_RADAR_CAMERA\") //only do this for radar camera\n        }\n    },\n    {\n        $group: {\n            _id: {\n                label: \"$label\",\n                hour: { $dateTrunc: { date: { $toDate: { $multiply: [\"$frame_time\", 1000] } }, unit: \"hour\", binSize: 1 } },\n                camera: \"$camera\"\n            },\n            count: { $count: {} }\n        }\n    },\n    {\n        $sort: {\n            \"_id.hour\": -1,\n            \"_id.label\": 1\n        }\n    }\n];\n\nnewMsg.payload = [query]\n\nreturn newMsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 800,
        "wires": [
            [
                "431a4f7307387f3f",
                "2d0c73f2533c64b6"
            ]
        ]
    },
    {
        "id": "2958d18a1e112409",
        "type": "debug",
        "z": "28627559bebdc324",
        "g": "5173f4b3ac03407a",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 860,
        "wires": []
    },
    {
        "id": "08d030ffc3fe6adb",
        "type": "ui_chart",
        "z": "28627559bebdc324",
        "g": "5aac1262472b0205",
        "name": "frigate summary daily, objects",
        "group": "06dde4be9a9a6b27",
        "order": 3,
        "width": 6,
        "height": 7,
        "label": "frigate api/events/summary daily object count for the last 10-days",
        "chartType": "line",
        "legend": "true",
        "xformat": "Y-M-D",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "10000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 710,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "b8b25338f2f57f93",
        "type": "function",
        "z": "28627559bebdc324",
        "g": "5173f4b3ac03407a",
        "name": "structure mongo hourly",
        "func": "//https://github.com/node-red/node-red-dashboard/blob/master/Charts.md\n//Array of Object with keys of series, data=x:ts,y:count, labels\n\nvar newMsg = [{}];\nnewMsg[0].series = [];\nnewMsg[0].data = [];\nnewMsg[0].label = [];\n\nmsg.payload.forEach((myItem) => {\n\n    //only do this for the radar camera\n    if (myItem._id.camera == env.get(\"VAR_RADAR_CAMERA\")) {\n        //if label doesn't exist, push it\n        if (newMsg[0].series.indexOf(myItem._id.label) < 0) {\n            newMsg[0].series.push(myItem._id.label);\n            //create new data array element that matches the series index\n            newMsg[0].data[newMsg[0].series.indexOf(myItem._id.label)] = [];\n        }\n\n        //Check if it's a new date or existing in data[0][0].x\n        //datapoint for date \n        let xIndex = newMsg[0].data[newMsg[0].series.indexOf(myItem._id.label)].findIndex((element) => element.x == String(new Date(myItem._id.hour)));\n        if (xIndex < 0) {\n            //new date\n            let thisDataPoint = {};\n            thisDataPoint.x = new Date(myItem._id.hour);\n            thisDataPoint.y = myItem.count;\n            newMsg[0].data[newMsg[0].series.indexOf(myItem._id.label)].push(thisDataPoint);\n        }\n        else {\n            //date exists, sum counts\n            newMsg[0].data[newMsg[0].series.indexOf(myItem._id.label)][xIndex].y += myItem.count;\n        }\n\n    };\n    \n});\n\nmsg.payload = newMsg;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 920,
        "wires": [
            [
                "6c6ee2e39d85b9c8",
                "02469f2425072f7b"
            ]
        ]
    },
    {
        "id": "b241a0ef89fd7ce4",
        "type": "http request",
        "z": "28627559bebdc324",
        "g": "5aac1262472b0205",
        "name": "frigate api/events/summary - Daily summary",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://frigate:5000/api/events/summary",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 310,
        "y": 180,
        "wires": [
            [
                "921bd254e41a46da",
                "eb140f61419c6a08"
            ]
        ],
        "info": "`{\"camera\":\"picam_gs_h264\",\n\"count\":83,\"day\":\"2024-03-21\",\n\"label\":\"bicycle\",\n\"sub_label\":null,\n\"zones\":[]}`"
    },
    {
        "id": "91d3f8965f62f4b0",
        "type": "inject",
        "z": "28627559bebdc324",
        "g": "5aac1262472b0205",
        "name": "trigger summary Event query every 2-hours",
        "props": [],
        "repeat": "7200",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "x": 230,
        "y": 120,
        "wires": [
            [
                "b241a0ef89fd7ce4"
            ]
        ]
    },
    {
        "id": "921bd254e41a46da",
        "type": "debug",
        "z": "28627559bebdc324",
        "g": "5aac1262472b0205",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 180,
        "wires": []
    },
    {
        "id": "eb140f61419c6a08",
        "type": "function",
        "z": "28627559bebdc324",
        "g": "5aac1262472b0205",
        "name": "structure frigate api/summary",
        "func": "var newMsg = [{}];\nnewMsg[0].series = [];\nnewMsg[0].data = [];\nnewMsg[0].label = [];\n\nmsg.payload.forEach((myItem) => {\n\n    //only do this for the radar camera and 10 days or less ago\n    if (myItem.camera == env.get(\"VAR_RADAR_CAMERA\") && new Date(myItem.day).getTime() >= Math.floor((Date.now() - 86400000 * 10))) {\n        //if label doesn't exist, push it\n        if (newMsg[0].series.indexOf(myItem.label) < 0) {\n            newMsg[0].series.push(myItem.label);\n            //create new data array element that matches the series index\n            newMsg[0].data[newMsg[0].series.indexOf(myItem.label)] = [];\n        }\n\n        //Check if it's a new date or existing in data[0][0].x\n        //datapoint for date \n        let xIndex = newMsg[0].data[newMsg[0].series.indexOf(myItem.label)].findIndex((element) => element.x == String(new Date(myItem.day)));\n        if (xIndex < 0) {\n            //new date\n            let thisDataPoint = {};\n            thisDataPoint.x = new Date(myItem.day);\n            thisDataPoint.y = myItem.count;\n            newMsg[0].data[newMsg[0].series.indexOf(myItem.label)].push(thisDataPoint);\n        }\n        else {\n            //date exists, sum counts\n            newMsg[0].data[newMsg[0].series.indexOf(myItem.label)][xIndex].y += myItem.count;\n        }\n\n    };\n    \n});\n\nmsg.payload = newMsg;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 240,
        "wires": [
            [
                "08d030ffc3fe6adb",
                "7d670f6e8d75b305"
            ]
        ]
    },
    {
        "id": "7d670f6e8d75b305",
        "type": "debug",
        "z": "28627559bebdc324",
        "g": "5aac1262472b0205",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 300,
        "wires": []
    },
    {
        "id": "404ac097795a2da0",
        "type": "inject",
        "z": "28627559bebdc324",
        "g": "0a6e123f5e53c029",
        "name": "trigger Event query every 2-hours",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "7200",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "query",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 400,
        "wires": [
            [
                "ae662d8b51bdd6b4"
            ]
        ]
    },
    {
        "id": "7d0ef920e3594875",
        "type": "mongodb4",
        "z": "28627559bebdc324",
        "g": "0a6e123f5e53c029",
        "clientNode": "4b8d22be1aa15cf2",
        "mode": "collection",
        "collection": "events",
        "operation": "aggregate",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "query mongo events, daily summary",
        "x": 310,
        "y": 520,
        "wires": [
            [
                "c509b1b731f83dec",
                "0d82866f7bfcb4e0"
            ]
        ]
    },
    {
        "id": "ae662d8b51bdd6b4",
        "type": "function",
        "z": "28627559bebdc324",
        "g": "0a6e123f5e53c029",
        "name": "create mongo query, daily summary",
        "func": "//for Timestamp, Mongo prefers MILLISECONDS (frigate event and radar uses seconds)\n\nvar newMsg = {};\nconst query = [\n    {\n        $match: {\n            frame_time: {\n                $gte: Math.floor((Date.now() - 86400000 * 10) / 1000) //change to seconds, 10 days ago, e.g. 1713638656\n            },\n            camera: env.get(\"VAR_RADAR_CAMERA\") //only do this for radar camera\n        }\n    },\n    {\n        $group: {\n            _id: {\n                label: \"$label\",\n                day: { $dateTrunc: { date: { $toDate: { $multiply: [\"$frame_time\", 1000] } }, unit: \"day\", binSize: 1 } },\n                camera: \"$camera\"\n            },\n            count: { $count: {} }\n        }\n    },\n    {\n        $sort: {\n            \"_id.label\": 1,\n            \"_id.day\": 1\n        }\n    }\n];\n\nnewMsg.payload = [query]\n\nreturn newMsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 460,
        "wires": [
            [
                "7d0ef920e3594875",
                "2dc07c33aebf63da"
            ]
        ]
    },
    {
        "id": "2dc07c33aebf63da",
        "type": "debug",
        "z": "28627559bebdc324",
        "g": "0a6e123f5e53c029",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 460,
        "wires": []
    },
    {
        "id": "c509b1b731f83dec",
        "type": "function",
        "z": "28627559bebdc324",
        "g": "0a6e123f5e53c029",
        "name": "structure mongo summary",
        "func": "//https://github.com/node-red/node-red-dashboard/blob/master/Charts.md\n//Array of Object with keys of series, data=x:ts,y:count, labels\n\nvar newMsg = [{}];\nnewMsg[0].series = [];\nnewMsg[0].data = [];\nnewMsg[0].label = [];\n\nmsg.payload.forEach((myItem) => {\n\n    //only do this for the radar camera\n    if (myItem._id.camera == env.get(\"VAR_RADAR_CAMERA\")) {\n        //if label doesn't exist, push it\n        if (newMsg[0].series.indexOf(myItem._id.label) < 0) {\n            newMsg[0].series.push(myItem._id.label);\n            //create new data array element that matches the series index\n            newMsg[0].data[newMsg[0].series.indexOf(myItem._id.label)] = [];\n        }\n\n        //Check if it's a new date or existing in data[0][0].x\n        //datapoint for date \n        let xIndex = newMsg[0].data[newMsg[0].series.indexOf(myItem._id.label)].findIndex((element) => element.x == String(new Date(myItem._id.day)));\n        if (xIndex < 0) {\n            //new date\n            let thisDataPoint = {};\n            thisDataPoint.x = new Date(myItem._id.day);\n            thisDataPoint.y = myItem.count;\n            newMsg[0].data[newMsg[0].series.indexOf(myItem._id.label)].push(thisDataPoint);\n        }\n        else {\n            //date exists, sum counts\n            newMsg[0].data[newMsg[0].series.indexOf(myItem._id.label)][xIndex].y += myItem.count;\n        }\n\n    };\n    \n});\n\nmsg.payload = newMsg;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 580,
        "wires": [
            [
                "b65e1877b1e04881",
                "5a74033007fa0242"
            ]
        ]
    },
    {
        "id": "0d82866f7bfcb4e0",
        "type": "debug",
        "z": "28627559bebdc324",
        "g": "0a6e123f5e53c029",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 520,
        "wires": []
    },
    {
        "id": "b65e1877b1e04881",
        "type": "ui_chart",
        "z": "28627559bebdc324",
        "g": "0a6e123f5e53c029",
        "name": "mongo summary daily, objects",
        "group": "06dde4be9a9a6b27",
        "order": 4,
        "width": 6,
        "height": 7,
        "label": "mongodb daily object count for the last 10-days",
        "chartType": "line",
        "legend": "true",
        "xformat": "Y-M-D",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "10000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 710,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "5a74033007fa0242",
        "type": "debug",
        "z": "28627559bebdc324",
        "g": "0a6e123f5e53c029",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 640,
        "wires": []
    },
    {
        "id": "c249329109ac17d5",
        "type": "link in",
        "z": "28627559bebdc324",
        "g": "9b9e4fc50b744fc3",
        "name": "from mongo event capture",
        "links": [
            "d9a2cc1e81161549"
        ],
        "x": 195,
        "y": 2140,
        "wires": [
            [
                "5ec2d3ba52f944f5",
                "82bc0c11adb825f8",
                "736d1e21a49f446b",
                "f9a7298d2f5f1f99"
            ]
        ]
    },
    {
        "id": "d66541089b01306e",
        "type": "switch",
        "z": "28627559bebdc324",
        "g": "9b9e4fc50b744fc3",
        "name": "only event with speed",
        "property": "$abs(payload.speed_calc)",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "gt",
                "v": "20",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 760,
        "y": 2260,
        "wires": [
            [
                "c788d632f5e93a73"
            ]
        ]
    },
    {
        "id": "2e680914d7da5c94",
        "type": "switch",
        "z": "28627559bebdc324",
        "g": "9b9e4fc50b744fc3",
        "name": "only zone_radar",
        "property": "payload.entered_zones",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "zone_radar",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 400,
        "y": 2180,
        "wires": [
            [
                "0f65ceafe3f7c069"
            ]
        ]
    },
    {
        "id": "c788d632f5e93a73",
        "type": "function",
        "z": "28627559bebdc324",
        "g": "9b9e4fc50b744fc3",
        "name": "store last N speed events",
        "func": "//events_recent_radar should show the last N events where payload.entered_zones CONTAINS zone_radar\n\nvar myEvents = flow.get(\"events_recent_speed\") || [];\n//Keep only last X elements\nvar myArrLength = 3;\n\n//invert array so OLDEST IS FIRST, for functions\nmyEvents.reverse();\n\nif (myEvents.length >= myArrLength) {\n    //remove first element (oldest event)\n    myEvents.shift();\n}\n\n//add current event to end of array\nmyEvents.push(msg.payload);\n\n//invert array so NEWEST IS FIRST, for display\nmyEvents.reverse();\n\nflow.set(\"events_recent_speed\", myEvents);\n\nmsg.payload = myEvents;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\nif (flow.get(\"events_recent_radar\") === undefined) {\n    flow.set(\"events_recent_radar\", [])\n}\n",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 2300,
        "wires": [
            [
                "4c087723a1d698e9"
            ]
        ]
    },
    {
        "id": "e5391514131a2b5a",
        "type": "function",
        "z": "28627559bebdc324",
        "g": "9b9e4fc50b744fc3",
        "name": "store last N radar events",
        "func": "//events_recent_radar should show the last N events where payload.entered_zones CONTAINS zone_radar\n\nvar myEvents = flow.get(\"events_recent_radar\") || [];\n//Keep only last X elements\nvar myArrLength = 5;\n\n//invert array so OLDEST IS FIRST, for functions\nmyEvents.reverse();\n\nif (myEvents.length >= myArrLength) {\n    //remove first element (oldest event)\n    myEvents.shift();\n}\n\n//add current event to end of array\nmyEvents.push(msg.payload);\n\n\n//invert array so NEWEST IS FIRST, for display\nmyEvents.reverse();\n\nflow.set(\"events_recent_radar\", myEvents);\n\nmsg.payload = myEvents;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\nif (flow.get(\"events_recent_radar\") === undefined) {\n    flow.set(\"events_recent_radar\", [])\n}\n",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 2220,
        "wires": [
            [
                "6ccef1eff1e3d1ff",
                "c36c71706e494b5e"
            ]
        ]
    },
    {
        "id": "5ec2d3ba52f944f5",
        "type": "switch",
        "z": "28627559bebdc324",
        "g": "9b9e4fc50b744fc3",
        "name": "only use radar cam",
        "property": "payload.camera",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "VAR_RADAR_CAMERA",
                "vt": "env"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 350,
        "y": 2140,
        "wires": [
            [
                "2e680914d7da5c94"
            ]
        ]
    },
    {
        "id": "6ccef1eff1e3d1ff",
        "type": "debug",
        "z": "28627559bebdc324",
        "g": "9b9e4fc50b744fc3",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 2120,
        "wires": []
    },
    {
        "id": "c36c71706e494b5e",
        "type": "ui_template",
        "z": "28627559bebdc324",
        "g": "9b9e4fc50b744fc3",
        "group": "7866c2aa313ab8b9",
        "name": "last N radar events",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<p class=\"label nr-dashboard-chart-title nr-dashboard-chart-titlel\">last N zone_radar events for radar_camera</p>\n<table class=\"table\">\n    <tr ng-repeat=\"payload in msg.payload\">\n        <td><img src=\"data:image/jpg;base64, {{payload.thumbnail_base64jpg}}\" alt=\"thumbnail\" /></td>\n        <td>\n            id: {{payload.id}} <br /> \n            label: {{payload.label}} <br />\n            top_score: {{payload.top_score}} <br />\n            frame_time: {{payload.frame_time_datestring}} <br />\n            direction: {{payload.direction_calc}} <br />\n            speed: {{payload.speed_calc}}\n        </td>\n    </tr>\n</table>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1070,
        "y": 2220,
        "wires": [
            []
        ]
    },
    {
        "id": "82bc0c11adb825f8",
        "type": "debug",
        "z": "28627559bebdc324",
        "g": "9b9e4fc50b744fc3",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 2080,
        "wires": []
    },
    {
        "id": "400cdfb17e7d51db",
        "type": "comment",
        "z": "28627559bebdc324",
        "name": "show speed aggregates",
        "info": "",
        "x": 140,
        "y": 1960,
        "wires": []
    },
    {
        "id": "dead75f68cbb66d6",
        "type": "comment",
        "z": "28627559bebdc324",
        "name": "influxdb ...",
        "info": "",
        "x": 200,
        "y": 2000,
        "wires": []
    },
    {
        "id": "2d0c73f2533c64b6",
        "type": "debug",
        "z": "28627559bebdc324",
        "g": "5173f4b3ac03407a",
        "name": "debug 12",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 800,
        "wires": []
    },
    {
        "id": "6c6ee2e39d85b9c8",
        "type": "debug",
        "z": "28627559bebdc324",
        "g": "5173f4b3ac03407a",
        "name": "debug 13",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 980,
        "wires": []
    },
    {
        "id": "4abe0507c83f87a2",
        "type": "catch",
        "z": "28627559bebdc324",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 80,
        "y": 40,
        "wires": [
            [
                "a309589b69eb07e1"
            ]
        ]
    },
    {
        "id": "a309589b69eb07e1",
        "type": "debug",
        "z": "28627559bebdc324",
        "name": "catch: all - dashboard",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 40,
        "wires": []
    },
    {
        "id": "02469f2425072f7b",
        "type": "ui_chart",
        "z": "28627559bebdc324",
        "g": "5173f4b3ac03407a",
        "name": "",
        "group": "06dde4be9a9a6b27",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "events by object (60-min) for last 24-hours",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 700,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "15797ab24727f84d",
        "type": "inject",
        "z": "28627559bebdc324",
        "g": "76417db2b472ef4f",
        "name": "trigger Event query every 5-min",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "query",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 1080,
        "wires": [
            [
                "6a422507b2a5bbca",
                "dd294de96fa60d7d",
                "18fb76b6818efaf9"
            ]
        ]
    },
    {
        "id": "6a422507b2a5bbca",
        "type": "function",
        "z": "28627559bebdc324",
        "g": "76417db2b472ef4f",
        "name": "create influxdb query for TimedSpeedCounts.counts (5-min) for last 60-min",
        "func": "//Want TimedSpeedCounts.counts (expected every 5-min) for last 1 hour\n\nvar query = \"\";\n\nquery += \"from(bucket: \\\"\" + env.get(\"VAR_INFLUXDB_BUCKET\") +\"\\\")\\n\";\nquery += \"    |> range(start: \" + Math.floor((msg.payload - (60 * 60 * 1000))/1000) +\", stop: \" + Math.ceil((msg.payload)/1000) + \")\\n\";\n// OR         |> range(start:-1h)\nquery += \"    |> filter(fn: (r) => r[\\\"_measurement\\\"] == \\\"TimedSpeedCounts\\\")\\n\";\nquery += \"    |> filter(fn: (r) => r[\\\"_field\\\"] == \\\"count\\\")\";\nquery += \"    |> filter(fn: (r) => r[\\\"direction\\\"] == \\\"inbound\\\" or r[\\\"direction\\\"] == \\\"outbound\\\")\";\nquery += \"    |> filter(fn: (r) => r[\\\"location\\\"] == \\\"\" + env.get(\"VAR_LOCATION\") + \"\\\")\\n\";\nquery += \"    |> filter(fn: (r) => r[\\\"speed_units\\\"] == \\\"mph\\\")\"; \nquery += \"    |> filter(fn: (r) => r[\\\"speed_units\\\"] == \\\"mph\\\")\"; \nquery += \"    |> sort(columns: [\\\"_time\\\"])\"; \n\n\nmsg.query = query;\nreturn msg;\n\n\n// from(bucket: \"influxdb_bucket\")\n// \t|> range(start: v.timeRangeStart, stop: v.timeRangeStop)\n//   |> filter(fn: (r) => r[\"_measurement\"] == \"TimedSpeedCounts\")\n//   |> filter(fn: (r) => r[\"_field\"] == \"speed_average\" or r[\"_field\"] == \"count\")\n//   |> filter(fn: (r) => r[\"direction\"] == \"inbound\" or r[\"direction\"] == \"outbound\")\n//   |> filter(fn: (r) => r[\"location\"] == \"ne26th-wasco-sb-01\")\n//   |> filter(fn: (r) => r[\"speed_units\"] == \"mph\")",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1140,
        "wires": [
            [
                "e256c1d68cf20f43"
            ]
        ]
    },
    {
        "id": "e256c1d68cf20f43",
        "type": "influxdb in",
        "z": "28627559bebdc324",
        "g": "76417db2b472ef4f",
        "influxdb": "73598328fc95017b",
        "name": "query, TimedSpeedCounts.counts",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "taffic_monitor_01",
        "x": 440,
        "y": 1200,
        "wires": [
            [
                "034479ce181640ea",
                "a432e760cc77e6cb"
            ]
        ]
    },
    {
        "id": "dd294de96fa60d7d",
        "type": "function",
        "z": "28627559bebdc324",
        "g": "76417db2b472ef4f",
        "name": "create influxdb query for TimedSpeedCounts.speed_average (5-min) for last 60-min",
        "func": "//Want TimedSpeedCounts.speed_average (expected every 5-min) for last 1 hour\n\nvar query = \"\";\n\nquery += \"from(bucket: \\\"\" + env.get(\"VAR_INFLUXDB_BUCKET\") +\"\\\")\\n\";\nquery += \"    |> range(start: \" + Math.floor((msg.payload - (60 * 60 * 1000))/1000) +\", stop: \" + Math.ceil((msg.payload)/1000) + \")\\n\";\n// OR         |> range(start:-1h)\nquery += \"    |> filter(fn: (r) => r[\\\"_measurement\\\"] == \\\"TimedSpeedCounts\\\")\\n\";\nquery += \"    |> filter(fn: (r) => r[\\\"_field\\\"] == \\\"speed_average\\\")\";\nquery += \"    |> filter(fn: (r) => r[\\\"direction\\\"] == \\\"inbound\\\" or r[\\\"direction\\\"] == \\\"outbound\\\")\";\nquery += \"    |> filter(fn: (r) => r[\\\"location\\\"] == \\\"\" + env.get(\"VAR_LOCATION\") + \"\\\")\\n\";\nquery += \"    |> filter(fn: (r) => r[\\\"speed_units\\\"] == \\\"mph\\\")\"; \nquery += \"    |> sort(columns: [\\\"_time\\\"])\"; \n\nmsg.query = query;\nreturn msg;\n\n\n// from(bucket: \"influxdb_bucket\")\n// \t|> range(start: v.timeRangeStart, stop: v.timeRangeStop)\n//   |> filter(fn: (r) => r[\"_measurement\"] == \"TimedSpeedCounts\")\n//   |> filter(fn: (r) => r[\"_field\"] == \"speed_average\" or r[\"_field\"] == \"count\")\n//   |> filter(fn: (r) => r[\"direction\"] == \"inbound\" or r[\"direction\"] == \"outbound\")\n//   |> filter(fn: (r) => r[\"location\"] == \"ne26th-wasco-sb-01\")\n//   |> filter(fn: (r) => r[\"speed_units\"] == \"mph\")",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 1320,
        "wires": [
            [
                "319859b48b6eebad"
            ]
        ]
    },
    {
        "id": "319859b48b6eebad",
        "type": "influxdb in",
        "z": "28627559bebdc324",
        "g": "76417db2b472ef4f",
        "influxdb": "73598328fc95017b",
        "name": "query, TimedSpeedCounts.speed_average",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "taffic_monitor_01",
        "x": 470,
        "y": 1380,
        "wires": [
            [
                "b06c5e9c17af5eb2",
                "b2b5e83db3663f9e"
            ]
        ]
    },
    {
        "id": "1b7c2967fd6a85a4",
        "type": "ui_chart",
        "z": "28627559bebdc324",
        "g": "76417db2b472ef4f",
        "name": "",
        "group": "06dde4be9a9a6b27",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "TimedSpeedCounts.speed_average (5-min) for last 60-min",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "60",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1000,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "537d771bb5b1eff5",
        "type": "ui_chart",
        "z": "28627559bebdc324",
        "g": "76417db2b472ef4f",
        "name": "",
        "group": "06dde4be9a9a6b27",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "TimedSpeedCounts.counts (5-min) for last 60-min",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "60",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 970,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "034479ce181640ea",
        "type": "debug",
        "z": "28627559bebdc324",
        "g": "76417db2b472ef4f",
        "name": "debug 14",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 1120,
        "wires": []
    },
    {
        "id": "b06c5e9c17af5eb2",
        "type": "debug",
        "z": "28627559bebdc324",
        "g": "76417db2b472ef4f",
        "name": "debug 15",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 1320,
        "wires": []
    },
    {
        "id": "b2b5e83db3663f9e",
        "type": "function",
        "z": "28627559bebdc324",
        "g": "76417db2b472ef4f",
        "name": "structure influx TimedSpeedCounts.speed_average",
        "func": "//https://github.com/node-red/node-red-dashboard/blob/master/Charts.md\n//Array of Object with keys of series, data=x:ts,y:count, directions\n\nvar newMsg = [{}];\nnewMsg[0].series = [];\nnewMsg[0].data = [];\nnewMsg[0].direction = [];\n\n// _time\n// _value\n// direction\n\n\nmsg.payload.forEach((myItem) => {\n\n   // use absolute value of _value, bc speeds outbound will be negative\n   myItem._value = Math.abs(myItem._value)\n\n   //if direction doesn't exist, push it\n    if (newMsg[0].series.indexOf(myItem.direction) < 0) {\n        newMsg[0].series.push(myItem.direction);\n        //create new data array element that matches the series index\n        newMsg[0].data[newMsg[0].series.indexOf(myItem.direction)] = [];\n    }\n\n    //Check if it's a new date or existing in data[0][0].x\n    //datapoint for date \n    let xIndex = newMsg[0].data[newMsg[0].series.indexOf(myItem.direction)].findIndex((element) => element.x == String(new Date(myItem._time)));\n    if (xIndex < 0) {\n        //new date\n        let thisDataPoint = {};\n        thisDataPoint.x = new Date(myItem._time);\n        thisDataPoint.y = myItem._value;\n        newMsg[0].data[newMsg[0].series.indexOf(myItem.direction)].push(thisDataPoint);\n    }\n    else {\n        //date exists, sum counts\n        newMsg[0].data[newMsg[0].series.indexOf(myItem.direction)][xIndex].y += myItem._value;\n    };\n\n});\n\nmsg.payload = newMsg;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 1440,
        "wires": [
            [
                "17a8cb6e886afcee",
                "1b7c2967fd6a85a4"
            ]
        ]
    },
    {
        "id": "17a8cb6e886afcee",
        "type": "debug",
        "z": "28627559bebdc324",
        "g": "76417db2b472ef4f",
        "name": "debug 16",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 1500,
        "wires": []
    },
    {
        "id": "a432e760cc77e6cb",
        "type": "function",
        "z": "28627559bebdc324",
        "g": "76417db2b472ef4f",
        "name": "structure influx TimedSpeedCounts.counts",
        "func": "//https://github.com/node-red/node-red-dashboard/blob/master/Charts.md\n//Array of Object with keys of series, data=x:ts,y:count, directions\n\nvar newMsg = [{}];\nnewMsg[0].series = [];\nnewMsg[0].data = [];\nnewMsg[0].direction = [];\n\n// _time\n// _value\n// direction\n\n\nmsg.payload.forEach((myItem) => {\n\n    //if direction doesn't exist, push it\n    if (newMsg[0].series.indexOf(myItem.direction) < 0) {\n        newMsg[0].series.push(myItem.direction);\n        //create new data array element that matches the series index\n        newMsg[0].data[newMsg[0].series.indexOf(myItem.direction)] = [];\n    }\n\n    //Check if it's a new date or existing in data[0][0].x\n    //datapoint for date \n    let xIndex = newMsg[0].data[newMsg[0].series.indexOf(myItem.direction)].findIndex((element) => element.x == String(new Date(myItem._time)));\n    if (xIndex < 0) {\n        //new date\n        let thisDataPoint = {};\n        thisDataPoint.x = new Date(myItem._time);\n        thisDataPoint.y = myItem._value;\n        newMsg[0].data[newMsg[0].series.indexOf(myItem.direction)].push(thisDataPoint);\n    }\n    else {\n        //date exists, sum counts\n        newMsg[0].data[newMsg[0].series.indexOf(myItem.direction)][xIndex].y += myItem._value;\n    };\n\n});\n\nmsg.payload = newMsg;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1260,
        "wires": [
            [
                "537d771bb5b1eff5",
                "313808f5ac61b7f1"
            ]
        ]
    },
    {
        "id": "313808f5ac61b7f1",
        "type": "debug",
        "z": "28627559bebdc324",
        "g": "76417db2b472ef4f",
        "name": "debug 17",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 1200,
        "wires": []
    },
    {
        "id": "be70ebb1a5929433",
        "type": "mongodb4",
        "z": "28627559bebdc324",
        "g": "0e1614cf2e5f9942",
        "clientNode": "4b8d22be1aa15cf2",
        "mode": "collection",
        "collection": "events",
        "operation": "aggregate",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "mongo query Events, count every 5-min last 60 min",
        "x": 290,
        "y": 1660,
        "wires": [
            [
                "85ee7cd8058ab069",
                "c4b2be77044989d5"
            ]
        ]
    },
    {
        "id": "18fb76b6818efaf9",
        "type": "function",
        "z": "28627559bebdc324",
        "g": "0e1614cf2e5f9942",
        "name": "create payload, 5-min bins last 60-min",
        "func": "//for Timestamp, Mongo prefers MILLISECONDS (frigate event and radar uses seconds)\n\n//Get hourly label counts for last 24-hours for radar_cam\n\nvar newMsg = {};\nconst query = [\n    {\n        $match: {\n            frame_time: {\n                $gte: Math.floor((Date.now() - 60*60 * 1000) / 1000) //change to seconds, 1 days ago, e.g. 1713638656\n            },\n            camera: env.get(\"VAR_RADAR_CAMERA\"), //only do this for radar camera\n            entered_zones: {\n                //do it only for zone_radar\n                $in: [\"zone_radar\"]\n            }\n        }\n    },\n    {\n        $group: {\n            _id: {\n                label: \"$label\",\n                datetime_bin: { $dateTrunc: { date: { $toDate: { $multiply: [\"$frame_time\", 1000] } }, unit: \"minute\", binSize: 5 } },\n                camera: \"$camera\"\n            },\n            count: { $count: {} }\n        }\n    },\n    {\n        $sort: {\n            \"_id.datetime_bin\": -1,\n            \"_id.label\": 1\n        }\n    }\n];\n\nnewMsg.payload = [query]\n\nreturn newMsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 1600,
        "wires": [
            [
                "be70ebb1a5929433",
                "c32af2158d803cad"
            ]
        ]
    },
    {
        "id": "85ee7cd8058ab069",
        "type": "debug",
        "z": "28627559bebdc324",
        "g": "0e1614cf2e5f9942",
        "name": "debug 18",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 1660,
        "wires": []
    },
    {
        "id": "c4b2be77044989d5",
        "type": "function",
        "z": "28627559bebdc324",
        "g": "0e1614cf2e5f9942",
        "name": "structure mongo 5-min, last 60-min",
        "func": "//https://github.com/node-red/node-red-dashboard/blob/master/Charts.md\n//Array of Object with keys of series, data=x:ts,y:count, labels\n\nvar newMsg = [{}];\nnewMsg[0].series = [];\nnewMsg[0].data = [];\nnewMsg[0].label = [];\n\nmsg.payload.forEach((myItem) => {\n\n    //only do this for the radar camera\n    if (myItem._id.camera == env.get(\"VAR_RADAR_CAMERA\")) {\n        //if label doesn't exist, push it\n        if (newMsg[0].series.indexOf(myItem._id.label) < 0) {\n            newMsg[0].series.push(myItem._id.label);\n            //create new data array element that matches the series index\n            newMsg[0].data[newMsg[0].series.indexOf(myItem._id.label)] = [];\n        }\n\n        //Check if it's a new date or existing in data[0][0].x\n        //datapoint for date \n        let xIndex = newMsg[0].data[newMsg[0].series.indexOf(myItem._id.label)].findIndex((element) => element.x == String(new Date(myItem._id.datetime_bin)));\n        if (xIndex < 0) {\n            //new date\n            let thisDataPoint = {};\n            thisDataPoint.x = new Date(myItem._id.datetime_bin);\n            thisDataPoint.y = myItem.count;\n            newMsg[0].data[newMsg[0].series.indexOf(myItem._id.label)].push(thisDataPoint);\n        }\n        else {\n            //date exists, sum counts\n            newMsg[0].data[newMsg[0].series.indexOf(myItem._id.label)][xIndex].y += myItem.count;\n        }\n\n    };\n    \n});\n\nmsg.payload = newMsg;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1720,
        "wires": [
            [
                "2027a5a754d1d3c4",
                "11fa2826769befc7"
            ]
        ]
    },
    {
        "id": "c32af2158d803cad",
        "type": "debug",
        "z": "28627559bebdc324",
        "g": "0e1614cf2e5f9942",
        "name": "debug 19",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 1600,
        "wires": []
    },
    {
        "id": "2027a5a754d1d3c4",
        "type": "debug",
        "z": "28627559bebdc324",
        "g": "0e1614cf2e5f9942",
        "name": "debug 20",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 1780,
        "wires": []
    },
    {
        "id": "736d1e21a49f446b",
        "type": "function",
        "z": "28627559bebdc324",
        "g": "9b9e4fc50b744fc3",
        "name": "store last N any frigate events",
        "func": "//events_recent_radar should show the last N events where payload.entered_zones CONTAINS zone_radar\n\nvar myEvents = flow.get(\"events_all\") || [];\n//Keep only last X elements\nvar myArrLength = 10;\n\n//invert array so OLDEST IS FIRST, for functions\nmyEvents.reverse();\n\nif (myEvents.length >= myArrLength) {\n    //remove first element (oldest event)\n    myEvents.shift();\n}\n\n//keep only specific elements\nconst newObj = {\n    id: msg.payload.id, \n    label: msg.payload.label,  \n    direction_calc: msg.payload.direction_calc, \n    speed_calc: msg.payload.speed_calc, \n    };\n\n//add current event to end of array\nmyEvents.push(newObj);\n\n//invert array so NEWEST IS FIRST, for display\nmyEvents.reverse();\n\nflow.set(\"events_all\", myEvents);\n\nmsg.payload = myEvents;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\nif (flow.get(\"events_recent_radar\") === undefined) {\n    flow.set(\"events_recent_radar\", [])\n}\n",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 2400,
        "wires": [
            [
                "5b307e65106f3540"
            ]
        ]
    },
    {
        "id": "5b307e65106f3540",
        "type": "ui_text",
        "z": "28627559bebdc324",
        "g": "9b9e4fc50b744fc3",
        "group": "7866c2aa313ab8b9",
        "order": 4,
        "width": 12,
        "height": 5,
        "name": "",
        "label": "last N events, text output",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "Courier,monospace",
        "fontSize": "10",
        "color": "#000000",
        "x": 710,
        "y": 2400,
        "wires": []
    },
    {
        "id": "4c087723a1d698e9",
        "type": "ui_template",
        "z": "28627559bebdc324",
        "g": "9b9e4fc50b744fc3",
        "group": "7866c2aa313ab8b9",
        "name": "last N radar speeding events",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<p class=\"label nr-dashboard-chart-title nr-dashboard-chart-titlel\">last N zone_radar speeding events for radar_camera (>20-mph)</p>\n<table class=\"table\">\n    <tr ng-repeat=\"payload in msg.payload\">\n        <td><img src=\"data:image/jpg;base64, {{payload.thumbnail_base64jpg}}\" alt=\"thumbnail\" /></td>\n        <td>\n            id: {{payload.id}} <br /> \n            label: {{payload.label}} <br />\n            top_score: {{payload.top_score}} <br />\n            frame_time: {{payload.frame_time_datestring}} <br />\n            direction: {{payload.direction_calc}} <br />\n            speed: {{payload.speed_calc}}\n        </td>\n    </tr>\n</table>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1100,
        "y": 2300,
        "wires": [
            []
        ]
    },
    {
        "id": "11fa2826769befc7",
        "type": "ui_chart",
        "z": "28627559bebdc324",
        "g": "0e1614cf2e5f9942",
        "name": "",
        "group": "06dde4be9a9a6b27",
        "order": 7,
        "width": 0,
        "height": 0,
        "label": "Mongo Events in zone_radar (5-min) for last 60-min",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "60",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 970,
        "y": 1720,
        "wires": [
            []
        ]
    },
    {
        "id": "3dd9503863b58e9c",
        "type": "mongodb4",
        "z": "28627559bebdc324",
        "g": "453513c49e4b1b60",
        "clientNode": "4b8d22be1aa15cf2",
        "mode": "collection",
        "collection": "events",
        "operation": "aggregate",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "query mongo events, daily summary",
        "x": 450,
        "y": 2660,
        "wires": [
            [
                "c7a85cdd5791b7b8",
                "d5cdc59005fe6257"
            ]
        ]
    },
    {
        "id": "f9a7298d2f5f1f99",
        "type": "function",
        "z": "28627559bebdc324",
        "g": "453513c49e4b1b60",
        "name": "create mongo query, daily summary",
        "func": "//for Timestamp, Mongo prefers MILLISECONDS (frigate event and radar uses seconds)\n\nvar newMsg = {};\nconst query = [\n    {\n        $match: {\n            frame_time: {\n                $gte: Math.floor((new Date().setHours(4, 0, 0, 0)) / 1000)\n            },\n            camera: env.get(\"VAR_RADAR_CAMERA\") //only do this for radar camera\n        }\n    },\n    {\n        $group: {\n            _id: {\n                label: \"$label\",\n            },\n            count: { $count: {} }\n        }\n    },\n    {\n        $sort: {\n            \"_id.label\": 1,\n        }\n    }\n];\n\nnewMsg.payload = [query]\n\nreturn newMsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 2600,
        "wires": [
            [
                "3dd9503863b58e9c",
                "1b63b1e9ba6f39d7"
            ]
        ]
    },
    {
        "id": "1b63b1e9ba6f39d7",
        "type": "debug",
        "z": "28627559bebdc324",
        "g": "453513c49e4b1b60",
        "name": "debug 21",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 2600,
        "wires": []
    },
    {
        "id": "d5cdc59005fe6257",
        "type": "function",
        "z": "28627559bebdc324",
        "g": "453513c49e4b1b60",
        "name": "structure mongo cumulative total",
        "func": "//https://github.com/node-red/node-red-dashboard/blob/master/Charts.md\n//Array of Object with keys of series, data=x:ts,y:count, labels\n\n\n//create bicycle_adj to be bicycle+motorcycle\n//create person_adj to be person - bicycle_adj\n\nconst formattedData = [{\n  series: [...msg.payload.map(item => item._id.label), 'bicycle_adj', 'person_adj'],\n  data: [\n    ...msg.payload.map(item => [item.count]),\n    [msg.payload.find(item => item._id.label === 'bicycle').count + msg.payload.find(item => item._id.label === 'motorcycle').count],\n    [msg.payload.find(item => item._id.label === 'person').count - (msg.payload.find(item => item._id.label === 'bicycle').count + msg.payload.find(item => item._id.label === 'motorcycle').count)]\n  ],\n  labels: [\"\"]\n}];\n\nmsg.payload = formattedData;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 2720,
        "wires": [
            [
                "4f025c48d1e232d0",
                "6d738ed81fefbedc",
                "d856c68660eb2202"
            ]
        ]
    },
    {
        "id": "c7a85cdd5791b7b8",
        "type": "debug",
        "z": "28627559bebdc324",
        "g": "453513c49e4b1b60",
        "name": "debug 22",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 2660,
        "wires": []
    },
    {
        "id": "4f025c48d1e232d0",
        "type": "debug",
        "z": "28627559bebdc324",
        "g": "453513c49e4b1b60",
        "name": "debug 23",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 2780,
        "wires": []
    },
    {
        "id": "6d738ed81fefbedc",
        "type": "ui_chart",
        "z": "28627559bebdc324",
        "g": "453513c49e4b1b60",
        "name": "",
        "group": "7866c2aa313ab8b9",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "cumulative events by object since 0400",
        "chartType": "horizontalBar",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 980,
        "y": 2720,
        "wires": [
            []
        ]
    },
    {
        "id": "d856c68660eb2202",
        "type": "mqtt out",
        "z": "28627559bebdc324",
        "g": "453513c49e4b1b60",
        "name": "",
        "topic": "events_cumulative_today",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a5d65dd0e3566daa",
        "x": 930,
        "y": 2840,
        "wires": []
    },
    {
        "id": "0f65ceafe3f7c069",
        "type": "function",
        "z": "28627559bebdc324",
        "g": "9b9e4fc50b744fc3",
        "name": "format frame_time as date string",
        "func": "\nmsg.payload.frame_time_datestring = new Date(msg.payload.frame_time * 1000).toLocaleString();\n \nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 2220,
        "wires": [
            [
                "e5391514131a2b5a",
                "d66541089b01306e"
            ]
        ]
    },
    {
        "id": "2a8fd7446117b042",
        "type": "mongodb4",
        "z": "28627559bebdc324",
        "g": "1bd1f21fa0390c69",
        "clientNode": "4b8d22be1aa15cf2",
        "mode": "collection",
        "collection": "events",
        "operation": "aggregate",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "query mongo events, daily summary",
        "x": 370,
        "y": 3080,
        "wires": [
            [
                "a30ae94b9b4ac1ea",
                "cd676ca7fcb572d8"
            ]
        ]
    },
    {
        "id": "2d6a848e9026dcb3",
        "type": "function",
        "z": "28627559bebdc324",
        "g": "1bd1f21fa0390c69",
        "name": "create mongo query, car event speed stats",
        "func": "//for Timestamp, Mongo prefers MILLISECONDS (frigate event and radar uses seconds)\n\nvar newMsg = {};\nconst query = [\n    {\n        $match: {\n            \"frame_time\": {\n                $gte: Math.floor((new Date().setHours(4, 0, 0, 0)) / 1000)\n            },\n            \"label\": \"car\",\n            entered_zones: {\n                $in: [\"zone_radar\", \"zone_capture\"]\n            },\n            camera: env.get(\"VAR_RADAR_CAMERA\"), //only do this for radar camera\n        }\n    },\n    {\n        $group: {\n            _id: null,\n            count: { $count: {} },\n            mean_speed: { $avg: { $abs: \"$speed_calc\" } },\n            p25_speed: { $percentile: { input: { $abs: \"$speed_calc\" }, p: [0.25], method: 'approximate' } },\n            p50_speed: { $median: { input: { $abs: \"$speed_calc\" }, method: 'approximate' } },\n            p75_speed: { $percentile: { input: { $abs: \"$speed_calc\" }, p: [0.75], method: 'approximate' } },\n            p85_speed: { $percentile: { input: { $abs: \"$speed_calc\" }, p: [0.85], method: 'approximate' } },\n            max_speed: { $max: { $abs: \"$speed_calc\" } },\n            count_over_25: { $sum: { $cond: [{ $gt: [{ $abs: \"$speed_calc\" }, 25] }, 1, 0] } },\n            speeds: { $push: \"$speed_calc\" },\n       }\n    },\n    {\n        $addFields: {\n            iqr_upper: { $add: [{ $first: \"$p75_speed\" }, ({ $multiply: [1.5, { $subtract: [{ $first: \"$p75_speed\" }, { $first: \"$p25_speed\" }] }] })] }, //Q3 + 1.5*IQR; IQR=Q3-Q1\n            iqr_upper_freq: {\n                $size: {\n                    $filter: {\n                        input: \"$speeds\",\n                        as: \"speed\",\n                        cond: { $gt: [\"$$speed\", { $add: [{ $first: \"$p75_speed\" }, ({ $multiply: [1.5, { $subtract: [{ $first: \"$p75_speed\" }, { $first: \"$p25_speed\" }] }] })] }] }\n                    }\n                }\n            }\n        }\n    }\n];\n\nnewMsg.payload = [query]\n\nreturn newMsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 3020,
        "wires": [
            [
                "2a8fd7446117b042",
                "10f32b81aa98c918"
            ]
        ]
    },
    {
        "id": "10f32b81aa98c918",
        "type": "debug",
        "z": "28627559bebdc324",
        "g": "1bd1f21fa0390c69",
        "name": "debug 24",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 3020,
        "wires": []
    },
    {
        "id": "cd676ca7fcb572d8",
        "type": "function",
        "z": "28627559bebdc324",
        "g": "1bd1f21fa0390c69",
        "name": "structure mongo car speed stats",
        "func": "// const formattedData = msg.payload.map(item => ({\n//   _id: item._id,\n//   meanSpeed: item.mean_speed,\n//   p85Speed: item.p85_speed[0],\n//   p75Speed: item.p75_speed[0],\n//   p50Speed: item.p50_speed,\n//   p25Speed: item.p25_speed[0],\n//   countOver25: item.count_over_25,\n//   maxSpeed: item.max_speed,\n//   count: item.count,\n//   iqrUpper: item.iqr_upper,\n//   iqrUpperFreq: item.iqr_upper_freq\n// }));\n\nconst arrayRemoveElements = [\"speeds\", \"_id\"];\n\nconst result = msg.payload.map(item => {\n    const obj = [];\n    for (const [key, value] of Object.entries(item)) {\n        if (!arrayRemoveElements.includes(key)) {\n            if (Array.isArray(value)) {\n                obj.push({ [key]: Math.round(value[0]) });\n            } else {\n                obj.push({ [key]: Math.round(value) });\n            }\n        }\n    }\n    return obj;\n});\n\nmsg.payload = result[0];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 3140,
        "wires": [
            [
                "55586312ada4b099",
                "5417aae0d14fa661"
            ]
        ]
    },
    {
        "id": "a30ae94b9b4ac1ea",
        "type": "debug",
        "z": "28627559bebdc324",
        "g": "1bd1f21fa0390c69",
        "name": "debug 25",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 3080,
        "wires": []
    },
    {
        "id": "55586312ada4b099",
        "type": "debug",
        "z": "28627559bebdc324",
        "g": "1bd1f21fa0390c69",
        "name": "debug 26",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 3200,
        "wires": []
    },
    {
        "id": "c90aed37b7a31d9e",
        "type": "inject",
        "z": "28627559bebdc324",
        "g": "1bd1f21fa0390c69",
        "name": "trigger Event query every 5-min",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "query",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 2960,
        "wires": [
            [
                "2d6a848e9026dcb3"
            ]
        ]
    },
    {
        "id": "5417aae0d14fa661",
        "type": "ui_template",
        "z": "28627559bebdc324",
        "g": "1bd1f21fa0390c69",
        "group": "06dde4be9a9a6b27",
        "name": "car speed stats for today, since 0400",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<p class=\"label nr-dashboard-chart-title nr-dashboard-chart-titlel\">car speed stats for today, since 0400</p>\n<table class=\"table\">\n    <tr ng-repeat=\"payload in msg.payload\">\n        <td ng-repeat =\"(key,value) in payload\">{{key}}: </td>\n        <td ng-repeat =\"(key,value) in payload\">{{value}}</td>\n    </tr>\n</table>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 890,
        "y": 3140,
        "wires": [
            []
        ]
    },
    {
        "id": "e9da260ad8a83698",
        "type": "ui_form",
        "z": "239d7b3ba410ad5e",
        "name": "set docker environment variables",
        "label": "",
        "group": "1f15adecfe5a580a",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Deployment location description (Form as scewer case with format streetNS-streetEW-sb/nb/eb/wb-2-digits; e.g. ne26th-wasco-sb-01)",
                "value": "location",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Radar camera (Name specified for the primary camera that is used to match radar readings to detected objects)",
                "value": "camradar",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "InfluxDB bucket Name",
                "value": "influxbucket",
                "type": "text",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "location": "",
            "camradar": "",
            "influxbucket": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "clear",
        "topic": "ui_env_vars",
        "topicType": "str",
        "splitLayout": "",
        "className": "",
        "x": 280,
        "y": 140,
        "wires": [
            [
                "86ba5a0d412318d4"
            ]
        ]
    },
    {
        "id": "b573f57d.6290e8",
        "type": "ui_button",
        "z": "239d7b3ba410ad5e",
        "d": true,
        "g": "ab5e552a1defabf4",
        "name": "",
        "group": "",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Do stuff",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "textInput",
        "payloadType": "flow",
        "topic": "",
        "x": 280,
        "y": 660,
        "wires": [
            [
                "cc26e2d4.ffd35",
                "b42b2908.665408"
            ]
        ]
    },
    {
        "id": "1330b995.eb0626",
        "type": "ui_text_input",
        "z": "239d7b3ba410ad5e",
        "d": true,
        "g": "ab5e552a1defabf4",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "100",
        "topic": "",
        "x": 260,
        "y": 600,
        "wires": [
            [
                "7ba1f4df.b12a7c",
                "2ffeee02.29d762"
            ]
        ]
    },
    {
        "id": "cc26e2d4.ffd35",
        "type": "function",
        "z": "239d7b3ba410ad5e",
        "d": true,
        "g": "ab5e552a1defabf4",
        "name": "my function that does stuff",
        "func": "msg.payload +=  \" - payload modified in my function\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 660,
        "wires": [
            [
                "bcad70c7.b9db",
                "a0241251.a9cc4"
            ]
        ]
    },
    {
        "id": "bcad70c7.b9db",
        "type": "ui_text",
        "z": "239d7b3ba410ad5e",
        "d": true,
        "g": "ab5e552a1defabf4",
        "group": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Result: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 720,
        "y": 660,
        "wires": []
    },
    {
        "id": "2ffeee02.29d762",
        "type": "change",
        "z": "239d7b3ba410ad5e",
        "d": true,
        "g": "ab5e552a1defabf4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "textInput",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 600,
        "wires": [
            [
                "fe2d6e02.ad949"
            ]
        ]
    },
    {
        "id": "7ba1f4df.b12a7c",
        "type": "debug",
        "z": "239d7b3ba410ad5e",
        "d": true,
        "g": "ab5e552a1defabf4",
        "name": "Text entry debug node",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 560,
        "wires": []
    },
    {
        "id": "b42b2908.665408",
        "type": "debug",
        "z": "239d7b3ba410ad5e",
        "d": true,
        "g": "ab5e552a1defabf4",
        "name": "Button click debug node",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 470,
        "y": 720,
        "wires": []
    },
    {
        "id": "fe2d6e02.ad949",
        "type": "switch",
        "z": "239d7b3ba410ad5e",
        "d": true,
        "g": "ab5e552a1defabf4",
        "name": "is text empty?",
        "property": "textInput",
        "propertyType": "flow",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 640,
        "y": 600,
        "wires": [
            [
                "db2479e4.104468"
            ],
            [
                "fa23a260.4e161"
            ]
        ]
    },
    {
        "id": "db2479e4.104468",
        "type": "change",
        "z": "239d7b3ba410ad5e",
        "d": true,
        "g": "ab5e552a1defabf4",
        "name": "enabled false",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 580,
        "wires": [
            [
                "eb06ed9d.7f23f"
            ]
        ]
    },
    {
        "id": "fa23a260.4e161",
        "type": "change",
        "z": "239d7b3ba410ad5e",
        "d": true,
        "g": "ab5e552a1defabf4",
        "name": "enabled true",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 620,
        "wires": [
            [
                "eb06ed9d.7f23f"
            ]
        ]
    },
    {
        "id": "eb06ed9d.7f23f",
        "type": "link out",
        "z": "239d7b3ba410ad5e",
        "d": true,
        "g": "ab5e552a1defabf4",
        "name": "",
        "links": [
            "58d47e08.81ffc"
        ],
        "x": 935,
        "y": 600,
        "wires": []
    },
    {
        "id": "58d47e08.81ffc",
        "type": "link in",
        "z": "239d7b3ba410ad5e",
        "d": true,
        "g": "ab5e552a1defabf4",
        "name": "",
        "links": [
            "eb06ed9d.7f23f"
        ],
        "x": 195,
        "y": 660,
        "wires": [
            [
                "b573f57d.6290e8"
            ]
        ]
    },
    {
        "id": "93b54b1c.311778",
        "type": "inject",
        "z": "239d7b3ba410ad5e",
        "d": true,
        "g": "ab5e552a1defabf4",
        "name": "Init with empty string",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "str"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 160,
        "y": 560,
        "wires": [
            [
                "1330b995.eb0626"
            ]
        ]
    },
    {
        "id": "a0241251.a9cc4",
        "type": "debug",
        "z": "239d7b3ba410ad5e",
        "d": true,
        "g": "ab5e552a1defabf4",
        "name": "After function debug node",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 770,
        "y": 720,
        "wires": []
    },
    {
        "id": "53ee230fe049d09e",
        "type": "inject",
        "z": "239d7b3ba410ad5e",
        "name": "init with empty string",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "userinput",
        "payload": "",
        "payloadType": "str",
        "x": 180,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "86ba5a0d412318d4",
        "type": "debug",
        "z": "239d7b3ba410ad5e",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 140,
        "wires": []
    },
    {
        "id": "3997684d13f325ae",
        "type": "ui_button",
        "z": "239d7b3ba410ad5e",
        "name": "backup databases",
        "group": "3c375fd89b978620",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Backup Databases",
        "tooltip": "Will run script/backup on host system that will create tar.gzip files for transfer",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "backup",
        "payload": "run_backup",
        "payloadType": "str",
        "topic": "ui_backup",
        "topicType": "str",
        "x": 230,
        "y": 200,
        "wires": [
            [
                "a189210b0b0330d1"
            ]
        ]
    },
    {
        "id": "a189210b0b0330d1",
        "type": "debug",
        "z": "239d7b3ba410ad5e",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 200,
        "wires": []
    },
    {
        "id": "764b358e579f76ed",
        "type": "comment",
        "z": "239d7b3ba410ad5e",
        "name": "execute system script",
        "info": "",
        "x": 500,
        "y": 260,
        "wires": []
    },
    {
        "id": "8cee82669b6b8512",
        "type": "comment",
        "z": "90d5c925f9fbf9fd",
        "name": "capture bluetooth to influxdb",
        "info": "",
        "x": 220,
        "y": 140,
        "wires": []
    }
]